[2013-09-13 11:55] mmerlone opened #4 "Unable to sync CardDAV on SOGo"
Greetings,

I setup Z-Push-contrib on my server using combined backend with IMAP, CalDAV and CardDAV against a SOGo (latest) server. IMAP and CalDAV works fine, but CardDAV is not. How can I figure what's wrong and fix it?

Thank you.

[2013-09-16 04:36] janusqa opened #5 "Not possible to write to the configured state directory."
Hi.

Following the instructions in the included INSTALL txt file I get the errors:

Version SVN-trunk-r1737
FatalMisconfigurationException

Not possible to write to the configured state directory.

How can I rectify that.  I have the state directory chown to www-data

[2013-09-16 15:38] #4 closed, assigned to nobody

[2013-09-21 13:12] #5 closed, assigned to nobody

[2013-10-10 07:50] ziirish opened #6 "Sync mail runs out of memory"
Hi,

I updated to the latest commit recently. Although the calendar and contact syncing is working correctly, I cannot manage to have my mails synced (using the imap backend).
The thing is my PHP process consumes a lot of memory (more than 2GB for about 2500 messages within my INBOX folder).

[2013-10-15 12:23] #6 closed, assigned to nobody

[2013-10-19 07:11] RustyPixel opened #7 "config.php"
would it not be better to move the config.php into a new folder named config with a  .htaccess file to block reading of it now that information from database can be added to it.

[2013-10-19 07:26] RustyPixel opened #8 "Imap backend, direct connection against SMTP"
Would like to say THANKYOU!!!!  this version of zpush is much better, had many problems with mail that where encoded, that just kept it from working correctly. Now i can use it without problems.

I would like to ask would it be possible to change smtp direct connection so that you don't need Pear::Net_SMTP as there is some confusion @ http://pear.php.net/package/Net_Socket/ as to if it maintained

[2013-10-20 15:31] RustyPixel opened #9 "caldav"
I don't know if this can be done with the caldav backend. In it current form with a SabreDav/Baikel system it will only pull the logged in user.

It would be nice to be able to pull other users (shared) from SabreDav/Baikel, but has a problem where it doesn't recognise the SabreDav CalDAVProxy

https://code.google.com/p/sabredav/wiki/CalDAVProxy

or ability to setup (shared user & password) in the

[2013-10-21 14:17] #9 closed, assigned to nobody

[2013-10-22 13:20] ddblack opened #10 "S/MIME"
Anyone have any plans to add s/mime to this?

I've reviewed the code.  It doesn't look like it would be an overwhelming project.  But, it requires a good study for a newcomer to the z-push code.

Zarafa MAPI supports it -- but not this fork.  Correct me if I'm wrong.  (Personally, I think the entire MAPI project was a waste of time even for Zarafa.  Takes waaaaayyyy too much effort to setup and to

[2013-10-23 09:56] RustyPixel opened #11 "incoming mail and sync"
I been noticing an odd behaviour of one email i get everyday, that cause sync to stop and moan about cannot connect to server. The only way to correct this by remove the state files and resync and then the said email will pop up in the sync, other way is to delete the said email via other email client and sync will carry on working. I used to see this alot with original version of zpush which made

[2013-10-27 17:12] #7 closed, assigned to nobody

[2013-10-30 14:14] #8 closed, assigned to fmbiete

[2013-11-13 12:44] #11 closed, assigned to fmbiete

[2013-11-23 01:27] hankhubert opened #14 "unable to sync owncloud contacs via carddav"
As owncloud 5.0.13 is using sabredav 1.7.6 I thought contact sync should work. Imap and caldav are working flawlessly, but the carddav backend always returns "Found 0 changes".

[2013-12-05 21:38] johan-smits opened #15 "unable to get calendar and contacts with SOGo"
I'm trying to use SOGo (2.1.1a-1) to work with Z-Push-contrib but contacts and calendar does not work at all on a iPhone4S IOS7.

Is there somthing missing in my configuration?

backend/caldav/config.php
// Server address
define('CALDAV_SERVER', 'http://localhost');
// Port
define('CALDAV_PORT', '80');
// Path
define('CALDAV_PATH', '/SOGo/dav/%u/Calendar/');
// Personal CalDAV folder (calendar fol

[2013-12-05 22:58] johan-smits opened #16 "SQL state store documentation"
Where can I find documentation about SQL backend for storing state information?
Want to know how to configure.

[2013-12-05 22:59] #15 closed, assigned to nobody

[2013-12-05 23:11] #16 closed, assigned to nobody

[2013-12-07 11:50] Oxy1 opened #17 "Carddav enhancements and bugfixes"
Hi,

i've got some new enhancements :)

This fixes an xml exception and sets Notes to asbody if neccessary (otherwise they get lost in AS14).

[code]

[2013-12-07 11:57] Oxy1 opened #18 "IMAP enhancements and fixes"
This fixes a bug where attachments get lost when forwarding mails (extra parts need to be added recursively) and converts mime mails as they should be converted.

[code]

[2013-12-07 14:30] #14 closed, assigned to nobody

[2013-12-07 14:30] #17 closed, assigned to nobody

[2013-12-07 15:21] stbuehler opened #19 "Z-Push-contrib/include/z_carddav.php:706 Trying to get property of non-object (8)"
Getting a lot of these message during sync of a WebOS device with SOGo (debian testing setup); but at least it worked (PHP-Push-2 did not..) - thanks for your work.

[code]

Also it'd be nice to have example config lines for SOGo :)

[code]

[2013-12-14 18:11] N0ury opened #20 "can't sync carddav. CalDAV and IMAP are ok"
Hi,

I hope someone will help me.
When I try to sync carddav, I have infinite messages like the following:
14/12/2013 18:35:43 [23830] [DEBUG] [nb] BackendCardDAV->StatMessage('contacts', '37a48a56-435F-52AC8A00-FF-7461FA80')
14/12/2013 18:35:43 [23830] [DEBUG] [nb] BackendCardDAV->GetMessage('contacts', '37a48a56-435F-52AC8A00-FF-7461FA80')
14/12/2013 18:35:43 [23830] [DEBUG] [nb] BackendCardDAV:

[2013-12-30 18:59] #18 closed, assigned to fmbiete

[2013-12-31 08:46] #20 closed, assigned to fmbiete

[2014-01-01 13:53] Oxy1 opened #21 "Carddav vcard parsing/creating"
Can you maybe use the ParseFrom/ParseTo functions from https://raw.github.com/arved/PHP-Push-2-owncloud/PHP-Push-2-oc5-unified-carddav/backend/carddav_oc5.php ?

It seems that the ones included in backend carddav create vcard 2.1 but declare them as vcard 3.0 and can't correctly decode vcard 3.0. This seems to break owncloud synchronization.

I've tested the ones above (copy+pasted and removed con

[2014-01-03 20:50] sstolz84 opened #22 "CalDAV error with the new "Birthdays from contacts" Calendar from Owncloud 6"
Owncloud 6 introduces an separate calendar with the birthdays of the contacts in addressbook.
This new calendar called "contacts_birthdays" shows up on iPhone without an entry. The logfile z-push.log shows
errors for all birthday entries in the calendar:

[code]

The Entry "local::3::94" on CalDAV is:

[code]

[2014-01-07 09:22] #22 closed, assigned to nobody

[2014-01-13 19:09] #19 closed, assigned to fmbiete

[2014-01-16 15:12] Trapulo opened #24 "Windows 8 loop"
Connecting a win8 contacts hub it creates a loop.
The problem seems that it doesn't manage state for root folder:
16/01/2014 15:42:38 [27227] [ INFO] [user] NoHierarchyCacheAvailableException: Folderid 'root' is not fully synchronized on the device - code: 0
16/01/2014 15:42:38 [27227] [ INFO] [user] HandlePing(): unknown collection 'root', triggering HierarchySync

then the device will require a

[2014-01-17 07:49] RustyPixel opened #25 "This is a multi-part message in MIME format"
why is it that i'm seen this in my emails after updating from cbf6286 to current builds?
i also noted the error can in with issue #18 fix, i know this as i went into each file change after the cbf6286 fix and applied it to my server then clearing out the sync for a fresh sync and it is @ that point where the error comes in.

[2014-01-18 13:06] #21 closed, assigned to fmbiete

[2014-01-23 15:29] #25 closed, assigned to fmbiete

[2014-02-12 19:59] fcueto opened #26 "Allow complete name in the "from" header when sending emails"
Hi,

When I send emails from the ipad using z-push, the complete name is stripped from the "from" header

ie I configure my sender address to be "Firstname Lastname" myemail@domain.com
but the mail is sent using only myemail@domain.com as the sender address.

Can you help with that please ?

[2014-02-17 13:02] vonsch opened #27 "IMAP backend mixes LF and CR+LF line ends"
IMAP backend mixes LF and CR+LF line ends when producing final mail and some Microsoft Microsoft Exchange servers cannot handle this correctly. When user has mailbox on MS Exchange 2003/2008 (not sure about other versions) and receives mail sent through z-push-contrib, he can see only garbage.

This is example part of mail sent through z-push-contrib (dumped from postfix server queue, opened via "

[2014-02-20 16:44] ziirish opened #28 "Z-Push not working anymore since commit c15c0b2469"
Since commit c15c0b2469 my phone shows the error "the server requires security features your phone does not support".

I downgraded the z_carddav.php file and it works fine.

Also, my caldav events are blinking or shows up as duplicated on my phone-side (not on the server).

Does anyone have encounter these issues?

Client:
Nexus 4 on cyanogenmod mako 4.3.1

Server:
Owncloud 6

[2014-03-02 18:43] obottek opened #29 "XMLDocument.php missing in BackendCalDav"
Fatal error: require_once(): Failed opening required 'XMLDocument.php' (include_path='...') in /zpush/include/caldav-client-v2.php on line 14

[2014-03-03 15:48] #29 closed, assigned to nobody

[2014-03-03 16:45] #28 closed, assigned to nobody

[2014-03-04 16:23] stovesy opened #30 "Issue with addExtraSubParts in imap.php"
If I try to forward a message with attachments, I get an error in the apache log as follows.

Cannot pass parameter 1 by reference in .....imap.php on line 543.

It seems to be struggling to pass $email as I've checked that $new_part is null.
The message has multipart/related in the header
Consequently send the email fails.

[2014-03-05 18:02] #30 closed, assigned to fmbiete

[2014-03-07 16:41] holdenger opened #31 "The state version available to the FileStateMachine is not the latest version (r1791)"
It's a fresh install with IMAP, CalDAV and CardDAV backends.

After my client (ios7) tries to connect, i have this in my z-push-error.log

[code]

for every connection from my client.

and output from z-push.log

[code]

Is there something i'm doing wrong or i found bug in the latest version?

[2014-03-13 01:50] ddblack opened #32 "Reply to messages doesn't work... Anyone else?"
I don't have the 'latest' release... but  I think its from December or so.

Anyone else had problems with replying to a message in your Inbox?  I think it's doing a smart reply; but, I haven't traced it, yet.  (I HAVE HAD MANY OTHERS SAY THIS, TOO... BUT, I'M JUST GETTING AROUND TO LOOKING AT IT.)

I can compose a new message and it sends just fine.

Logs say it can't find the folder id (hex)...

[2014-03-16 11:19] jangrewe opened #33 "Digest auth"
Hi, thanks for your awesome work, i've been using it for quite some time now and work awesome!
My setup is Dovecot and Baikal, and it works great with the right configuration, but i recently wanted to add CardDavMATE and CalDavZAP for managing my calendards and contacts online, but it seems as if Digest authentication doesn't work when accessing Baikal.
If i set Baikal to use "Basic" auth it works

[2014-03-16 12:42] abbradar opened #34 "CalDAV errors"
Hello. I'm getting lots of errors like this:

[code]

[2014-03-16 12:43] abbradar opened #35 "CardDAV error"
I'm getting this error while trying to sync contacts:

[code]

Is it normal?

[2014-03-16 14:04] #33 closed, assigned to nobody

[2014-03-16 14:30] abbradar opened #36 "carddav: not enough sprintf arguments"
There is a TODO to have actual error message in code, but while it's not implemented, here's a workaround:

[code]

[2014-03-16 14:34] #36 closed, assigned to fmbiete

[2014-03-18 08:39] #34 closed, assigned to nobody

[2014-03-18 08:40] #35 closed, assigned to nobody

[2014-03-25 16:21] Trapulo opened #37 "Contacts ID"
Hi,
I've a problem sending contacts to devices. I've some "duplicated" contacts, that are different people with same name/surname. My zpush sends two distinct contacts to devices, but they will merge to a unique contact (at least either Windows Phone and Win 8, when I tried).
I tried to create on the phone two different contacts with same name and subname (and no other data). The phone will show t

[2014-03-26 08:58] ddblack opened #38 "---"
---

[2014-03-26 20:54] #38 closed, assigned to nobody

[2014-03-28 03:31] ddblack opened #39 "PHP IMAP Sequence Errors -- Correction"
IMAP Sequence errors can be corrected by checking message count for folder(s).

EXAMPLE

 // SEQUENCE ERROR CORRECTED
 $messages = array();
 $this->imap_reopenFolder($folderid, true);
 // NO MESSAGES IN FOLDER
 $msgcnt = @imap_check( $this->mbox );                   // FIX
 if ( $msgcnt->Nmsgs == 0 ) { return $messages; }         // FIX

almostworking:21/03/2014 20:21:51 [29019] [ WARN] [test22] B

[2014-03-28 17:55] #39 closed, assigned to nobody

[2014-03-28 18:08] #31 closed, assigned to nobody

[2014-03-28 19:35] ddblack opened #40 "ISSUES #24 AND #32 are directly related."
See description in #32.

[2014-04-02 15:02] #40 closed, assigned to nobody

[2014-04-03 14:57] #32 closed, assigned to nobody

[2014-04-03 21:36] LakesGeek opened #42 "Search (imap backend) doesn't search the subject line"
Thanks for your excellent work here, I followed this guide to combine your patched Z-Push with dovecot and fts: http://sealedabstract.com/code/nsa-proof-your-e-mail-in-2-hours/

In testing I noticed that full text searches only work for the body of the message (tested on iPhone Mail.app, and Nine for Android).  I'm not sure if this is by design or not, but to me it makes sense to me to search the

[2014-04-04 14:36] #42 closed, assigned to nobody

[2014-04-06 23:50] edlebrocq opened #44 "PHP Parse error in backend/imap/imap.php"
While trying to use Z-Push I got this error in my PHP log file: PHP Parse error:  syntax error, unexpected ':' in /usr/share/z-push/backend/imap/imap.php on line 2277"

[2014-04-07 14:09] #44 closed, assigned to nobody

[2014-04-07 14:11] edlebrocq opened #45 "PHP Error in Combined Backend"
I'm getting this error: NOTICE: PHP message: PHP Fatal error:  Class name must be a valid object or a string in /usr/share/z-push/backend/combined/combined.php on line 79 when I try to load Z-Push - any ideas?

[2014-04-07 16:24] basbebe opened #46 "file_exists(): open_basedir restriction in effect. File(/etc/mime.types) is not within the allowed path(s):"
For some reason this Fork seems to need /etc/mime.types.

What for?
The official Z-Push version doesn't seem to need it.
I added the files to open_basedir for the moment…

[2014-04-07 17:07] basbebe opened #47 "Problem with SQL 'from'"
Hi!

I used the SQL from-header to use the field created in ISPConfig3:

define('IMAP_FROM_SQL_DSN', 'mysql:host=localhost;dbname=dbispconfig');
define('IMAP_FROM_SQL_USER', 'z-push');
define('IMAP_FROM_SQL_PASSWORD', 'XXXYYY');
define('IMAP_FROM_SQL_OPTIONS', serialize(array(PDO::ATTR_PERSISTENT => true)));
define('IMAP_FROM_SQL_QUERY', 'select name, email from mail_user where login = "#username"

[2014-04-07 21:08] #47 closed, assigned to nobody

[2014-04-08 07:26] #46 closed, assigned to nobody

[2014-04-08 07:28] #26 closed, assigned to fmbiete

[2014-04-08 08:55] #45 closed, assigned to nobody

[2014-04-08 19:06] basbebe opened #48 "Problems w/ encoding & attachments"
Hi!

I started to have some problems with emails with attachments.
I had Emails (Sent with Apple Mail or received) that appeared in the iPhone with a note at the end "This email was loaded as plain text" (or similar, translated from german) with a button underneath "load full email" (or similar).
On some only the text was visible, on others only the images.
When I then clicked "load full email" ei

[2014-04-09 17:04] basbebe opened #49 "z_RFC822 error: Empty group."
What does this mean?
I have this popping up in my z-push-error.log from time to time. If it happens, then it does repeatedly within a short timeframe.

09/04/2014 16:44:57 [21131] [ERROR] [mail@XXXYYY.com] z_RFC822 error: Empty group.
09/04/2014 16:44:57 [21131] [ERROR] [mail@XXXYYY.com] z_RFC822 error: Empty group.
09/04/2014 16:45:03 [21146] [ERROR] [mail@XXXYYY.com] z_RFC822 error: Empty group.

[2014-04-09 17:07] basbebe opened #50 "messages dropped"
Hi!

Sometimes messages seem to be dropped – they never get pushed to the phone.

This is in z-push-error.log:

08/04/2014 13:11:03 [30178] [ERROR] [mail@XXXYYY.com] Ignored broken message (SyncMail). Reason: '2' Folderid: '1234x098' message id '678'
08/04/2014 13:11:39 [30178] [ERROR] [mail@XXXYYY.com] Ignored broken message (SyncMail). Reason: '2' Folderid: '1234x098' message id '448'
08/04/2014

[2014-04-09 17:11] basbebe opened #51 ""no such file or directory" when z-push-admin -a fixstates"
Hi!

When I do "z-push-admin -a fixstates" I get the following warning in z-push.log

08/04/2014 12:35:52 [21912] [WARN] /var/www/lib/default/filestatemachine.php:195 unlink(/var/lib/z-push/h/g/applc39lfqm0fejs-): No such file or directory (2)
08/04/2014 12:35:52 [21912] [WARN] /var/www/lib/default/filestatemachine.php:195 unlink(/var/lib/z-push/h/g/applc39lfqm0fejs-): No such file or directory (2

[2014-04-11 07:37] basbebe opened #52 "push fails: Connection lost on new email"
Hi!

I don't get my emails pushed.
When I watch z-push-top while receiving an email I see that the change is recognized and being sent to the mobile. Then the connection disappears.
The connection gets reestablished some minutes (or just one, varies) later. I only receive the email then, not instantly…

This is the log (didn't get any useful from it):

11/04/2014 09:31:15 [28392] [DEBUG] [mail@XXX

[2014-04-11 08:24] #51 closed, assigned to nobody

[2014-04-11 08:24] #49 closed, assigned to nobody

[2014-04-11 15:15] #52 closed, assigned to nobody

[2014-04-11 15:28] bax- opened #53 "feature request: handling spam"
I don't know how much of this is being handled by z-push:
I mark an email as spam on my iPhone - it then get's moved to my "junk" folder.
What I would like in this process to be done is add / set an IMAP-flag "//seen" and "$junk".

[2014-04-29 14:10] albertosottile opened #54 "iOS sends messages but gives back error"
Hi,
I am using Z-Push-contrib with BackendIMAP and smtp send method on a server from my college to add push notifications to their email service.

Receive and push new emails works perfectly. However, I have an issue with sending messages from my iOS devices (version 7.1.1). The message is perfectly sent and received by the recipient, but on the starting device the message never leaves the Outbox

[2014-05-02 21:31] johan-smits opened #55 "trash disappearing"
When you have in your imap a folder named: "trash" and one called "deleted items" the trash folder disappear from the iPhone.
Deleting one of the folders makes it work again.
The function should check if there is already a default folder found and leave the other one as "normal"

[2014-05-05 10:53] albertosottile opened #56 "Anonymous HTTPS requests are "accepted" by the server."
I was trying to debug issue #54 and I decided to test my server with the Microsoft Remote Connectivity Analyzer. However, the test ends with this error:

The HTTP authentication test failed.

The Initial Anonymous HTTPS request didn't fail, but Anonymous isn't a supported authentication method for this scenario.

HTTP Response Headers:
MS-Server-ActiveSync: 14.0
MS-ASProtocolVersions: 1.0,2.0,2.1,

[2014-05-06 15:23] roggrat opened #57 "CalDav Mail sync errors"
Hi,
First off, great job you guys are doing. I see these issues when running Z-Push-contrib
i. I get this error when I enable Caldav in BackendCombined config
  ->   PHP Fatal error: require_once(): Failed opening required 'XMLDocument.php'
ii. I can only sync one week worth of emails, If I select no limit in IPhone settings, it downloads all mail but a short while later reverts back to 1 week ( A

[2014-05-08 16:23] #56 closed, assigned to fmbiete

[2014-05-10 05:02] #57 closed, assigned to fmbiete

[2014-05-12 16:31] #55 closed, assigned to fmbiete

[2014-05-23 17:44] CaioGod opened #58 "Carddav addressbook not initialized"
Greetings,
I'm using z-push contrib with my Sabredav server. IMAP and Caldav are working fine, but the Carddav is not, i get this on the log when i try to sync or add a new contact:

23/05/2014 13:55:16 [10119] [DEBUG] [daniel@supramail.com.br] [appl5k33801na4s] BackendIMAP->Logon(): User 'daniel@supramail.com.br' is authenticated on '{mail.supramail.com.br:143/imap/notls/norsh}'
23/05/2014 13:55:

[2014-05-23 18:12] fortiko opened #59 "2 small fixes for imap.php"
Changing all 2 occurences of Parameters()["PARTSTAT"] to Parameters["PARTSTAT"](without round brackets) avoids the PHP error "PHP fatal error Can't use method return value in write context".

I also believe you should use GetFullTZ($tzname) instead of GetFullTZFromTZName($tzname) in parseMeetingCalendar() around 2765, since at least iOS also transmits the timezones as "Europe/Madrid", which don't

[2014-05-23 18:24] fortiko opened #60 "Improved LDAP support"
Several new fields that sync perfectly to iOS, still working on the "birthday" and "anniversary" fields to figure our what kind of format they need to be in.

Requires OpenLDAP to include the following schemata:
-        $ldap['objectclass'][0] = "top";
-        $ldap['objectclass'][1] = "person";
-        $ldap['objectclass'][2] = "inetOrgPerson";
-        $ldap['objectclass'][3] = "organizationa

[2014-05-23 20:33] #58 closed, assigned to nobody

[2014-05-24 16:31] #24 closed, assigned to fmbiete

[2014-05-30 10:56] freultwah opened #62 "IMAP backend: pgsql support for IMAP_FROM"
I made IMAP_FROM work with MySQL, but as I am trying to get rid of it on my machine and go with only Postgres (since two database servers is one too many), I thought I'd try IMAP_FROM with pgsql: instead of mysql:. Created the databases 1:1 to what I have working in MySQL etc etc. Here's what happened when I turned on debug logging:

30/05/2014 13:28:17 [84547] [DEBUG] [raivo] Used timezone 'Europ

[2014-06-02 16:42] #62 closed, assigned to nobody

[2014-06-03 23:07] ghost opened #63 "Undefined variable: imap_smtp_params"
Hi,

I'm trying to use the smtp mail with IMAP backend, but it won't take my imap_smtp_params.

Relevant config line:
$imap_smtp_params = array('host' => 'localhost', 'port' => 587, 'auth' => true, 'username' => 'imap_username', 'password' => 'imap_password', 'debug' => true);

Log messages:

z-push.log:03/06/2014 18:01:55 [ 4076] [DEBUG] [testuser] BackendIMAP->sendMessage(): SendingMail with smt

[2014-06-08 22:57] fortiko opened #64 "HTML email: GetSupportedASVersion only offers AS2.5 and not AS14"
In order to get fully working HTML emails with the current imap backend, I have to hardcode "return ZPush::ASV_14;" in BackendCombined->GetSupportedASVersion() instead of using the clever loop to find the lowest version supported by all backends used.

Is it possible that BackendCombined->GetSupportedASVersion() returns ZPush::ASV_25 instead of ZPush::ASV_14 because it also checks the default back

[2014-06-10 05:18] #63 closed, assigned to nobody

[2014-06-10 11:54] fortiko opened #65 "Notes backend"
Hello!

I got the first bits and pieces of a BackendNotes working, based heavily in the IMAP code: since Mail.app (and perhaps other applications?) seem to be using a special "Notes" folder on IMAP for that functionality, I decided to copy that approach.

Working functionality:
- Syncing existing "Notes" to device
- Deleting Notes on device works

Somewhat working:
- Create new note on device gets

[2014-06-10 12:01] fortiko opened #66 "Rename config.php to config.php.dist"
In order to enable users to keep their local config.php, please consider using config.php.dist for the git tree. This way, a "git pull" does at least not overwrite user-supplied configuration information, as it does at the moment!

[2014-06-10 12:07] fortiko opened #67 "Fix for meeting status"
There is a small mixup in code for parsing the meeting status values in caldav.php.

Here is a corrected version:

[code]

[2014-06-14 14:42] #67 closed, assigned to nobody

[2014-06-14 14:44] #66 closed, assigned to nobody

[2014-06-21 12:41] #59 closed, assigned to fmbiete

[2014-07-04 09:21] #64 closed, assigned to nobody

[2014-07-04 09:22] #54 closed, assigned to fmbiete

[2014-07-09 18:02] albertosottile opened #68 "Resolve syncing loops without resync an entire folder."
Is there a way to fix a loop on a message that was not delivered because of any reason? The most common cause is that the mobile device was not reachable at the delivery time, which is quite common since we are working with phones and tablets that might not be connected every time.

When a loop happens, the message is not delivered anymore, even if you manually refresh the mail account from the ph

[2014-07-12 12:46] ghost opened #69 "z-push-top show no usernames"
Hi after i started using this fork i cant get usernames showing in z-push-top, also the # of users is always showing 1 user(but there is loads of users logged on).

With the 2.1.3 version from z-push.org the usernames are showing.

Anyone have some pointers for me, system is running up to date ubuntu 14.04 server w/postfix,apache2,dovecot.

[2014-07-12 15:55] #69 closed, assigned to fmbiete

[2014-07-13 00:49] erenoglu opened #70 "Call to undefined function is_mime()"
Hi,

I'm trying to get this fork running on Ubuntu 14.04 lighttpd. I checked the repo out today.

Package d-push (z-push rebranded) 2.0.7 from repositories were working fine, but I could not search IMAP mails with it, read some posts referring to this fork which has the IMAP search function. (hope I'm right).

I can get it to run, android client authenticates and lists folders on the IMAP server,

[2014-07-13 10:11] erenoglu opened #71 "Fatal: Class 'iCalComponent' not found in imap.php"
Hi,
After the other issue was solved, I got stuck again when downloading messages. The primary error on the webserver log was:

2014-07-13 13:42:28: (mod_fastcgi.c.2673) FastCGI-stderr: PHP Fatal error:  Class 'iCalComponent' not found in /usr/share/z-push/backend/imap/imap.php on line 2403

Other than that, in z-push logs, I've seen the following, probably related to the above, when the php sessi

[2014-07-13 11:58] #70 closed, assigned to fmbiete

[2014-07-13 16:32] #71 closed, assigned to nobody

[2014-07-20 08:22] ghost opened #72 "Emojis from iOS causing loop"
Hi, using latest trunk version and have problems with message causing loops if message includes emojis characters(smilies), one example of smilie hex F09F988E

iOS version is 7.1.2 on devices.

Is there any workaround for this ?

[2014-07-28 21:03] jkaberg opened #73 "Z-push and Owncloud not syncing (caldav+carddav)"
I have no real errors checking my log folder(s), IMAP works as expected but I can't seem to get  z-push to communicate with Owncloud

My configs;
/config.php:
http://pastebin.com/XYBn19E0

/backend/combined/config.php:
http://pastebin.com/0YgWCVNV

/backend/caldav/config.php:
http://pastebin.com/x1DxkGAH

/backend/carddav/config.php:
http://pastebin.com/JMKDfFgb

/backend/imap/config.php:
http://p

[2014-07-30 03:24] ShadowEO opened #74 "Enhancement Request: Todo.txt Backend for Tasks"
This could potentially be useful for some people, I am planning to look through the backend code to see what it would take to implement this but I'm not entirely sure. So I figured why not put in an enhancement request for it as well as a question..

Are there any methods that I must implement to create a task backend and is there a backend for tasks that I can use as a sort of sample?

[2014-07-31 06:43] #73 closed, assigned to nobody

[2014-08-11 16:53] daxcore opened #75 "CardDAV (DAViCal) problem - access denied (mod_evasive)"
Hey guys,

i need your help. I use z-push with combined backend:
- IMAP (postfix, dovecot, ...) --> working
- CalDAV (DAViCal) --> not realy working
- CardDAV (DAViCal) --> not realy working (but working in thunderbird e.g. ~ 120 contacts incl. photo)

Problem: it starts syncing about 2 - 12 contacts... then it failed with log

11/08/2014 18:43:02 [14383] [ERROR] [info@bla.de] [androidc_bla] Backe

[2014-08-13 06:51] #75 closed, assigned to nobody

[2014-08-13 17:36] basbebe opened #76 "Getting Errors from iCalendar.php"
Hi!

I just tried out the latest version (was a few months behind until then) and I got a lot of these errors (sync was not working with iPhone):

[code]

Deleting iCalendar.php resolved the issue for now (though I don't really know what consequences this might have…

[2014-08-14 06:35] #76 closed, assigned to nobody

[2014-08-14 11:25] daxcore opened #77 "CardDAV vCard CATEGORIES attribute"
Hello again ;)

i have a problem with the contact groups. I don't know where the problem come from: Z-Push? DAViCal? Android 4.4.4?

If i set 2 or more groups to 1 contact, Android will create after sync a new group with the name of the given groups (before sync everything is okay), e.g.:

I created 2 groups: "A" and "B".

Contact "John" gets group "A" and group "B".

DAViCal (postgresql) stores a

[2014-08-15 07:51] basbebe opened #78 "Two "from" headers"
Emails I'm sending through Z-Push seem to have two from headers.
I'm using the IMAP backend with an iPhone. Full name is being pulled from a mysql database.
The formatted emails have two from addresses in the formatted view as well as in the text-only view. One with full name, the other one with just the email address.

I don't know if this is a wrong configuration on my side.

[code]

[2014-08-16 14:40] #78 closed, assigned to nobody

[2014-08-17 10:28] jkaberg opened #79 "Just letting you know..."
..that we're using your code in https://github.com/mail-in-a-box/mailinabox/pull/135 and it works as intended to!

Keep up the good work @fmbiete

[2014-08-19 14:35] jkaberg opened #81 "Invalid input XML: not a mobilesync responseschema."
I'm getting this everytime I try to connect to z-push/ActiveSync (from Outlook 2013),

Obviously becasue the schema can't be found;

Any suggestions @fmbiete ?

[2014-08-20 16:23] #79 closed, assigned to nobody

[2014-08-21 10:00] redhell opened #82 "Can't send emails on iOS"
Hey,
i can send emails with outlook 2013 but not with iDevices
When i try to send an email i get:

[code]

[2014-08-24 04:30] lucize opened #83 "Combined->Logon() failed on BackendCalDAV"
Having the CalDAV server set up with an alias like domain.com/caldav is not working, Didn't find a note about this and wasted time on new install 2 different servers (distro) until I tried the documented example (caldav.domain.com).

Regards

[2014-08-24 07:53] jpfox156 opened #84 "Question re: IMAP backend and Outlook 2013 support"
Hi,
I am having trouble seeing emails in Outlook 2013 using an IMAP backend (connecting to a local Dovecot imap server). I can see all the correct folders, and I can also send emails through the account, however nothing shows up in the sent items folder (or any other folders for that matter). I've successfully connected via both CardDAV and CalDAV using the same config. I've also connected success

[2014-08-24 09:52] #83 closed, assigned to nobody

[2014-08-24 10:11] #48 closed, assigned to nobody

[2014-08-24 10:12] #50 closed, assigned to nobody

[2014-08-24 10:14] #10 closed, assigned to fmbiete

[2014-08-24 10:17] #72 closed, assigned to fmbiete

[2014-08-25 14:41] #77 closed, assigned to nobody

[2014-08-27 20:54] johnnyorange opened #85 "Class 'BackendCombinedConfig' not found in /usr/share/z-push/backend/combined/combined.php on line 74""
hello -

I truly hate to bother everyone if this is a very simple error on my part, but ive been pulling my hair our over this error since i encounted it a few days ago.

running ubuntu 14.04, nginx, php5-fpm and the most recent z-push contrib pulled from github

when i initially try to sync from my device, i get an error in the log i declared in my push subdomain on nginx, which is entitled zpush

[2014-08-27 21:31] #85 closed, assigned to nobody

[2014-08-28 17:32] fpPierre opened #86 "Caldav events will not read - SabreDAV Backend"
Dear all attenders,

in the baygone days I have setuped and configured SabreDav and z-push 2 SVN Version on our Ubuntu Server.
As Mail solution dovecot is used.

Nearly everything works well and works like it should.

But in case of the caldav sync I have a little bit trouble.

The issue is, that I'm indeed able to add new events by the z-push connection, but after the event was posted to the serv

[2014-09-01 01:23] guitou4573 opened #87 "call to undefined function GetFirstSyncTime()"
In statemanager.php 303 and 326, you have two references to $this->device->GetFirstSyncTime(), altough this function does not exist.

[2014-09-01 10:25] ziirish opened #88 "SendMail loop"
Hi @fmbiete,

I am facing a problem when trying to send an email from my phone.
It's been a while I didn't try to send email from my phone so I cannot say when that issue first occurred.
I updated to the last Z-Push-contrib revision, and whenever I try to send an email, z-push keeps sending the "first-one".

Here is the scenario:
1. remove my account on the phone
2. add my account on the phone (in

[2014-09-02 01:44] #87 closed, assigned to nobody

[2014-09-02 09:20] #86 closed, assigned to nobody

[2014-09-07 14:31] Euca94 opened #89 "mime_decode - From and Subject"
Hi,

Issu linked to this post : https://forums.zarafa.com/showthread.php?10780-Z-Push-Outlook-2013-Dovecot&p=47212&viewfull=1#post47212

This is the raw message : http://grabfile.eu/1410076221.M753457P9889.esitc-cachan.fr.txt

The raw message from Outlook :
return-path: <edt@****>
delivered-to: informatique@****
received: from **_([127.0.0.1]) by localhost (**_***
 [127.0.0.1]) (amavisd-new, port

[2014-09-08 07:02] #89 closed, assigned to nobody

[2014-09-08 20:49] Euca94 opened #90 "Message in double when deleted in MS Outlook 2013"
Hi,

When i delete a message on MS Outlook 2013, the deleted message appears 2 times in Trash directory.
BUT it appears only one times on IMAP or with my Smartphone Android with ActiveSync.

No problem if I delete the message with my Smartphone Android with ActiveSync.

If you want i can create you a mail account on my server. (For testing)

Thanks,
Euca

[2014-09-10 19:02] jkaberg opened #91 "Whenever I try to create/change a calendar appointment it doesnt update on server"
See log,

Any idea? (backend is ownCloud) Config files can be viewed here, https://github.com/mail-in-a-box/mailinabox/tree/master/conf/zpush

Creating/Changeing or deleting an appointment in ownCloud works just fine, but I canno't change/create appointments in calendar app @ android (delete works)

PS: I think this was working before, perhaps broken in a recent update? (mailinabox updates z-push

[2014-09-11 16:15] jbonor opened #92 "Calendar/Contacts addressbooks names not showing up on Android 4.4"
I have a little problem that I don't know if it is a bug or misconfiguration. I can sync everything with my IMAP/ownCloud servers but calendars and contact addressbooks on the phone (Nexus 5) does not show the name configured on the ownCloud server. Any idea?
TIA.

[2014-09-11 17:29] #60 closed, assigned to fmbiete

[2014-09-14 08:45] N0ury opened #93 "Problem when syncing tasks containing "due date""
Hello,

I meet the following problem.
Some tasks are not displayed on iphone or galaxy s3, even when typed on them. In that case, they disappear when syncing. They are always correctly displayed on sogo tasks.

Here are 3 tasks which have the problem:

From ios with remind date

BEGIN:VCALENDAR
PRODID:-//php-push//NONSGML PHP-Push Calendar//EN
VERSION:2.0
CALSCALE:GREGORIAN
BEGIN:VTODO
STATUS:NEED

[2014-09-14 14:15] #84 closed, assigned to nobody

[2014-09-16 10:20] alby128 opened #94 "Sent folder on iOS devices"
From Backend/IMAP configuration file the folder in which sent messages are stored can be selected. This setting works fine from server side, the server correctly saves sent messages in the picked folder.

However, on iOS devices, Mail.app does not show sent messages in the "Sent" area, but it correctly shows sent messages in the chosen folder on server.

I guess z-push-contrib does not set some at

[2014-09-18 06:57] sarahleecb opened #95 "Sometimes BackendCarddav->Logon fail"
I've been using SOGo for caldav and carddav and am very happy with it, but for some reason the authentication fails to the carddav backend, even he username and password are identical for both Backends. Please help!!!

[2014-09-19 06:37] #91 closed, assigned to nobody

[2014-09-19 12:37] jkaberg opened #96 "/usr/local/lib/z-push/include/z_caldav.php:908 Undefined index:"
I'm seeing a lot of these when using with ownCloud (sabredav)

Any suggestions?

[2014-09-20 14:28] #92 closed, assigned to nobody

[2014-09-20 14:28] #90 closed, assigned to nobody

[2014-09-21 13:04] jfedyczak opened #97 "Two accounts on one device"
Hi, I'm trying to setup Z-Push-contrib with IMAP backed. Everything works perfectly until I add second account on one device. Only one account works correctly. I'm seeing following errors in log:

[code]

I found quick'n'dirty workaround:

[code]

Is there any "legit" way to fix this? Some config option, I am missing?

[2014-09-28 15:14] LakesGeek opened #98 "Odd search results from iOS"
Thanks again for your work on this

Whilst search has worked well since the tweak in #42 there is still something odd about searching from the iPhone mail app.
Let's say I search for "ebay" from the inbox, it'll return results from all folders, even if "current mailbox" is selected (but it will think they are all in the inbox).  They will be out of order "on and off", e.g. it might show me some em

[2014-09-28 20:07] fortiko opened #99 "setFromHeaderValue() and setReturnPathValue() need to be case iNSenSITive"
While checking our SPF, DKIM and DMARC configuration, I realised that the default comparisons in setFromHeaderValue() and setReturnPathValue() are case-sensitive, whereas they need to be case iNSenSITive, because otherwise several "From" and "Return-Path" headers might exist in one message, which in turn makes the message "invalid" for Gmail ("550-5.7.1 not RFC 2822 compliant"), check-auth2@verifi

[2014-09-28 20:16] fortiko opened #100 "Line 1120, GetMessage()"
[code]

Apart from using case sensitive indices that should be corrected (see #99 ), this has a wrong index "reply_to" (with underscore) instead of "reply-to" (with a regular dash).

[2014-09-28 20:17] #100 closed, assigned to nobody

[2014-09-29 11:28] mschering opened #101 "Endless loop"
Hi,

For some reason it can happen that the stream is invalid and the while(feof($stream)) loop is caught in an endless loop. That in combination with z-push's endless max_execution_time results in an unresponsive server! Here are the error messages:

PHP Warning:  feof() expects parameter 1 to be resource, boolean given in z-push21/lib/core/streamer.php on line 328
PHP Warning:  fgets() expects p

[2014-09-29 14:47] #96 closed, assigned to nobody

[2014-09-30 06:53] #99 closed, assigned to nobody

[2014-09-30 23:28] sarahleecb opened #102 "caldav and carddav sometime fail login"
Sorry for late reply
## Our log produce

30/09/2014 16:33:04 [13533] [DEBUG] [mahiranaziz@melaka.gov.my] -------- Start
30/09/2014 16:33:04 [13533] [ INFO] [mahiranaziz@melaka.gov.my] Version='SVN-trunk-r1905' method='POST' from='192.168.2.90' cmd='MoveItems' getUser='mahiranaziz@melaka.gov.my' devId='appldytj5650dvgl' devType='iPad'
30/09/2014 16:33:04 [13533] [DEBUG] [mahiranaziz@melaka.gov.my]

[2014-10-02 08:59] sarahleecb opened #103 "Cc and Bcc recipients are not getting the message sent when using SMTP method"
Compose mail with 'field to' ok.
but, field cc can't send in ios.

postfix log show only to recipient sent but cc recipient nothing

please advice
sorry for my bad english.

[2014-10-06 15:50] #101 closed, assigned to nobody

[2014-10-20 05:10] MisterM74 opened #106 "Error "FatalMisconfigurationException""
hello

I have this as an error, can you tell me why

The configured LOGFILE can not be modified.

Trace:
Array
(
    [0] => Array
        (
            [file] => /usr/share/Z-Push-contrib/index.php
            [line] => 132
            [function] => CheckConfig
            [class] => ZPush
            [type] => ::
            [args] => Array
                (
                )

[code]

)

thank yo

[2014-10-25 12:04] basbebe opened #107 "PHP-MAPI extension is not available"
Hi!

After one of the recent updates I have the following problem:

I can't log in any more.
The log says:
`z-push-error.log`

[code]

entering `z-push-admin -a fixates` results in:

[code]

Any hint?

Thank you!

[2014-10-25 12:17] #107 closed, assigned to nobody

[2014-11-03 02:28] marknmel opened #108 "Calendar Invite - Blackberry 10"
First, thanks Francisco - amazing work.

My Z-Push-contrib is current as of Oct 9'th.

I have a mostly working Z-Push-contrib setup here on CentOS 6.5-x86_64, except for this quirk....

It's a bit of a perplexing problem - and I'm not sure where to start, logs to gather, etc....

I have a number of Blackberry devices (Z10, Q5, Playbooks) that I am trying to support (Infact - I really only have Bla

[2014-11-08 14:25] jpfox156 opened #109 "sqlstatemachine.php does not handle null byte state data with Postgresql"
My configuration is as follows: latest z-push contrib configured with an sql state machine using a Postgresql backend. State data is stored in a field of type text, in line with the MySQL.sql table setup.

The serialized state_data often contains NULL byte characters. This is particularly the case for the hierarchy cache . Unfortunately either PDO or Postgresql doesn't do so well with null byte ch

[2014-11-08 14:57] jpfox156 opened #110 "Caldav backend confuses default and user-created calendar and task types"
Hi,

as stated in the title, when syncing multiple calendars for a single account, CalDav backend applies MS-ASCM foldersync type 13 (sync_folder_type_user_appointment) to the principle calendar defined by "CalDAV_personal" in the configuration file; and foldersync type 8 (sync_folder_type_appointment) to all subsequent calendars.

As noted in the msdn article (see http://msdn.microsoft.com/en-us/

[2014-11-09 15:46] #110 closed, assigned to nobody

[2014-11-09 16:16] #106 closed, assigned to nobody

[2014-11-11 09:00] borconi opened #111 "Lighty and PHP-FPM"
While it seem that this fork works nicely, my lighttpd error log is full of this errors:

`2014-11-09 06:33:37: (mod_fastcgi.c.2540) unexpected end-of-file (perhaps the fastcgi process died): pid: 0 socket: unix:/var/run/php5-fpm.sock
2014-11-09 06:33:37: (mod_fastcgi.c.3326) response not received, request sent: 997 on socket: unix:/var/run/php5-fpm.sock for /Microsoft-Server-ActiveSync?User=chr..

[2014-11-14 13:44] realriot opened #112 "CalDAV backend with SOGo"
I've configured the following values to access a SOGo DalDAV backend:

[code]

Username has to be: username@domain

But accessing does not work. The log tells me that the credentials are wrong. Using just the IMAP backend works.

[code]

Any hints?

[2014-11-14 16:06] #111 closed, assigned to nobody

[2014-11-21 13:04] #88 closed, assigned to nobody

[2014-11-24 13:39] ghost opened #113 "Timezone undefined"
After trying to sync an Samsung S4 with z-push im getting some trouble with an warning from z-push:

24/11/2014 14:25:28 [18089] [WARN] [xxxx@sandnes.xxx] TimezoneUtil::getMSTZnameFromTZName() no MS name found for 'W. Europe Standard Time'. Returning '(GMT) Greenwich Mean Time: Dublin, Edinburgh, Lisbon, London'
24/11/2014 14:25:28 [18089] [WARN] [xxxx@sandnes.xxx] TimezoneUtil::getMSTZnameFromTZN

[2014-12-08 08:37] anaoum opened #114 "XMLElement.php missing"
I'm getting the following error:

08/12/2014 09:35:43 [ 5893] [WARN] [unknown] /usr/share/z-push/include/iCalendar.php:49 require_once(XMLElement.php): failed to open stream: No such file or directory (2)

Is there a dependency that's missing?

[2014-12-08 09:07] #114 closed, assigned to nobody

[2014-12-10 14:30] fpPierre opened #115 "Errors on synching VCards (CardDav) with Outlook 2013"
Dear Francisco,

I do have the following issue.

I´m working on the current versin of the repository and nearly everything is working probably on all clients.

But there is one issue:
By using Outlook 2013 I´m not able to add or update contacts.
I´m getting the following Error Message:

add / update:
10/12/2014 14:42:23 [ 2459] [ERROR] [XXXX@XXXX.com] BackendCardDAV->ChangeMessage - Error adding v

[2014-12-12 12:07] stef157 opened #116 "Sync - imap on iPhone"
Hi,
I try to sync a dovecot account with z-push on my iPhone…

I can't download my email and when I check de status it's still 0%.

[code]

And I get this in my log :

[code]

And idea how to solve that ?

Thanks !

[2014-12-15 17:08] KaleiRo opened #117 "CalDAV and CardDAV Probleme"
Hello Francisco,

I have some problem to config CalDAV and CardDAV with Z-PUSH, i have follow you'r Wiki Config to configure backendcombiend with Imap CalDav and CardDAV, exactly from your's, Imap works well, CalDAV and CardDAV indicate an authentification error

/var/log/z-push/z-push.log :
14/12/2014 21:54:40 [32325] [ERROR] [maxime.rubino] BackendCardDAV->Logon(): User 'maxime.rubino' failed to

[2014-12-17 09:53] #117 closed, assigned to nobody

[2014-12-18 19:45] fpPierre opened #118 "Sync of mailboxes with high counts of emails"
Hello,

I do have the issue, that our mailboxes with enormous number of mails stops the initial sync after 10 to 20 percent of the mails ins box.

We do have mailboxes with folders which stores up to 10000 mails and 100000 mails in sum.

Has somebody an idea, how we can handle that with active sync?

[2014-12-20 19:05] #113 closed, assigned to nobody

[2014-12-20 19:10] #82 closed, assigned to nobody

[2014-12-20 19:12] #93 closed, assigned to nobody

[2014-12-20 19:12] #95 closed, assigned to nobody

[2014-12-20 19:13] #98 closed, assigned to nobody

[2014-12-22 16:06] HLeithner opened #119 "Free/Busy Support"
Hi,

is Free/Busy support possible or planned? SabreDav supports querying free/busy query.

Or maybe you can give me a starting point?

thx

[2014-12-22 16:49] HLeithner opened #120 "Add IMAP shared folders support"
HI,

I use dbmail as imap backend, and by default dbmail uses "#public" and "#user" as shared folder.

If I use outlook 2013 and z-push-contrib it doesn't start to sync any folder, if I disabled shared folders it works fine.

If I create a folder "#xxx" syncing works fine, Initial sync and created after the Initial sync.

No Error messages in the log, only

[code]

Maybe the problem is if its the

[2014-12-22 17:01] HLeithner opened #121 "Drafts Folder not used"
Hi,

I'm using the german version of Outlook 2013 (Thats maybe the problem).
I have a Folder called "Entwürfe" that should be mapped to the folder "Drafts" on the Imap server (that already exists). But Outlook says "Entwürfe (Nur dieser Computer)" (Only this Computer).

So its seams it could not found the Drafts folder on the server. On the other side I have a following log output:

[code]

So for

[2014-12-22 17:12] efEris opened #122 "Creating a new folder causes a Loop exception"
[code]
sorry no core dump available nor a message in the apache error.log. Also in the normal logfile has no much more information on DEBUG level.
[code]

[2014-12-27 06:26] #121 closed, assigned to nobody

[2014-12-27 19:29] HLeithner opened #123 "passed by reference problem since commit 50924964"
[code]

[2014-12-28 04:12] roggrat opened #124 "CalDAV Authentication exception"
HI,

can we add support for Cyrus-Imapd. The calendaring works from other sources, Ive used thunderbird to add calendar events however cant get z-push to work correctly. Carddav and Imap work however caldav authenticates but I get the  error:

Z-push log:
BackendCalDAV->Logon(): User 'testuser@domain.com' is not authenticated on CalDAV
AuthenticationRequiredException: Access denied. Username or pa

[2014-12-28 07:35] #123 closed, assigned to nobody

[2014-12-28 14:54] #102 closed, assigned to nobody

[2015-01-01 08:58] fmbiete commented on #112
Hi @Kalimeiro

You must run the testing scripts from the root folder, not inside the testing folder.

Also if your user is username@domain be sure to configure it in the main config.php
[code]

Default is to use only the username part, but before was to use the full email address (i don't know why they changed the default...)

[2015-01-01 09:02] fmbiete commented on #124
Hi @roggrat
Could you provide me with a demo account, so I can look into the problem? fmbiete at gmail dot com

[2015-01-01 17:17] zero-one-devteam opened #125 "IMAP Prefix with Cyrus"
Hi,

I am trying to use z-push-contrib with fastmail. They are using Cyrus and in there FAQs they advise to set the IMAP prefix to INBOX. So I did within the imap/config.php, but without success. Some of my folder do have the prefix Inbox, e.g. Inbox.ToDo etc.

Did I miss anything?

[2015-01-02 07:01] zero-one-devteam opened #126 "calDAV sync with cyrus"
Trying to sync with cyrus calDAV: Creating an appointment via calDAV (e.g. with Apple Calendar App or via Webfrontend) works well and the event will be synced to iOS. Editing this event on iOS does not work. e.g. moving it to another day will revert the changes after a few seconds.

Logfile shows this:

02/01/2015 07:55:32 [19108] [DEBUG] [user@domain.com] BackendCalDAV->Logon(): User 'user@domain

[2015-01-04 08:05] fmbiete commented on #125
Can you provide any log/info??

[2015-01-04 08:10] fmbiete commented on #126
Put your loglevel to WEBXML.
After editing an event in iOS you must see a call to BackendCalDAV->ChangeMessage.That function is the responsible to store your changes in the caldav server.

[2015-01-04 08:35] zero-one-devteam commented on #125
There seems to be "Double Inbox". The Folders IR and Domains eg are subfolders of INBOX, but the logs show them as INBOX.Inbox.Domains.

When accessing the server via IMAP on iOS and entering INBOX as prefix the structure is correct.

04/01/2015 09:30:02 [14491] [DEBUG] [user@domain.com] BackendIMAP->convertImapId('INBOX') = eadedf6d
04/01/2015 09:30:02 [14491] [DEBUG] [user@domain.com] BackendIMA

[2015-01-04 11:23] zero-one-devteam commented on #126
Thanks for this hint. Looks like Z-Push recognizes a conflict:

04/01/2015 10:26:37 [26120] [DEBUG] [user@domain.com] BackendCalDAV->StatMessage('C9c176090-8a3f-4ab2-b8e0-2586cdd8f299','a8a6ee05-b4aa-4a7e-a2b6-f89d4f93b489.ics')
04/01/2015 10:26:37 [26120] [ INFO] [user@domain.com] StatusException: ImportChangesDiff->ImportMessageChange('a8a6ee05-b4aa-4a7e-a2b6-f89d4f93b489.ics','SyncAppointment')

[2015-01-04 11:31] zero-one-devteam commented on #126
A workaround seems to be this setting:

define('SYNC_CONFLICT_DEFAULT', SYNC_CONFLICT_OVERWRITE_SERVER);

Don't know if it makes sense to set it to PIM wins.

[2015-01-04 12:36] zero-one-devteam opened #127 "IOS: calDAV appointment dashed when no organizer is set"
Hi, when adding an appointment via caldav on device A (eg MacBook) that is synced to device B (iOS) it appears dashed on device b (like an invitation which has not been answered yet). A workaround is to put the following line into backend/caldav/caldav.php:

After:
$properties = $event->GetProperties();
 foreach ($properties as $property)
I inserted:
$message->organizeremail = sprintf("%s", $this-

[2015-01-05 18:15] zero-one-devteam commented on #126
Confusing. Tried to access the imap server via commandline and it shows me exactly:

* LIST (\HasNoChildren) "." INBOX.Inbox.1-ToDo
* LIST (\HasNoChildren) "." INBOX.Inbox.2-Lesen
* LIST (\HasNoChildren) "." INBOX.Inbox.3-Warten
* LIST (\HasNoChildren) "." INBOX.Inbox.4-AnyTime
* LIST (\HasNoChildren) "." INBOX.Inbox.Domains
* LIST (\HasNoChildren) "." INBOX.Inbox.IR

Seems that I have to filter t

[2015-01-05 18:16] zero-one-devteam commented on #125
Confusing. Tried to access the imap server via commandline and it shows me exactly:

* LIST (\HasNoChildren) "." INBOX.Inbox.1-ToDo
* LIST (\HasNoChildren) "." INBOX.Inbox.2-Lesen
* LIST (\HasNoChildren) "." INBOX.Inbox.3-Warten
* LIST (\HasNoChildren) "." INBOX.Inbox.4-AnyTime
* LIST (\HasNoChildren) "." INBOX.Inbox.Domains
* LIST (\HasNoChildren) "." INBOX.Inbox.IR

Seems that I have to filter t

[2015-01-06 10:28] fpPierre commented on #115
Hello fmbiete,

I just ran the testing/test-carddav.php Skript and got this result:

Fatal error: Uncaught exception 'Exception' with message 'Not found!' in [...]/htdocs/include/z_carddav.php:711
Stack trace:
#0 [...]/htdocs/include/z_carddav.php(450): carddav_backend->simplify('<?xml version="...', true, false)
#1 [...]/htdocs/include/z_carddav.php(467): carddav_backend->do_query_report('<?xml v

[2015-01-07 17:41] efEris opened #128 "SQLStateMachine: Undefined variable"
z-push/lib/default/sqlstatemachine.php:661 Undefined variable: userList (8)

$userList is not set in this function but is needed to get PRE_AUTHORIZE_MAX_DEVICES to work.

[2015-01-11 06:23] zero-one-devteam opened #129 "IMAP server-search with solr"
Hi,

I've installed dovecot with solr and it works quite well over webaccess and commandline. But when searching via Z-Push-contrib some results are omitted, others appear as duplicates.

Do you have any hint where I can do further debug?

Thanks!

[2015-01-11 06:24] #125 closed

[2015-01-11 06:24] #126 closed

[2015-01-11 11:34] zero-one-devteam commented on #129
The following fix is a workaround for me:

adding two lines:
 $datebefore  = ' BEFORE "' . date("Y-m-d", strtotime( date( "Y-m-d", strtotime( date("Y-m-d") ) ) . "-1 month" ) ) . '"';
 $filter .= $datebefore;

to the function GetMailboxSearchResults() in line 1773 (imap.php)

Then the server based search is only done from one month ago - this is my setting for local snyc. Of course not very elegan

[2015-01-11 11:52] extremeshok commented on #129
So how does that add/enable solr search support ?

Seems a rather pathetic work around for the issue at hand.....Let's limit searching to 1month and still slow.

When the actual issues remains the same ... searches should be via solr , which would enable near instant searches with minimal load

Sent from my iPhone

[2015-01-11 11:58] zero-one-devteam commented on #129
This does not enable solr, of course - solr is already enabled and working. Search is very fast with Z-Push-contrib. Only problem was that the results of local and server search got mixed.

[2015-01-11 23:03] extremeshok opened #130 "Unable to fetch imap folder (inbox) contents : looping error : [INFO] ExportChangesDiff->InitializeExporter(): Found '5' changes"
Hi

This is a new install of Zpush using the latest git on centos 6.5 with php 5.6 with all dependencies, remote imap server is dovecot, all firewalls were disabled.

To the best of my knowledge everything is correctly configured for the imap backend.

I am unable to get any email to display on my devices, ie blank inbox.
Sending of emails is working, however there is an error that the email canno

[2015-01-11 23:06] extremeshok commented on #130
The following is seen on the imap (dovecot) server
[code]

[2015-01-11 23:18] extremeshok commented on #130
php -q z-push-admin.php -a list -u ***removed email***
[code]

[2015-01-12 00:16] extremeshok commented on #129
Enabling Apache Solr 4.10 ( using jetty ) with Dovecot 2.2 for fulltext search results on Centos 6 (iredmail compatible)

https://extremeshok.com/6622/enabling-apache-solr-4-10-using-jetty-with-dovecot-2-2-for-fulltext-search-results-on-centos-6-iredmail-compatible/

[2015-01-12 06:54] zero-one-devteam commented on #129
Thanks, but solr is already running (in my case with tomcat6, but that does not make a difference). Search is working as well, only via Z-Push I have duplicates.

[2015-01-12 08:40] fmbiete commented on #128
Hi @efEris

The referenced commit should fix the problem.
Thanks for reporting!!

[2015-01-12 08:48] fmbiete commented on #127
Hi @zero-one-devteam

Can you look if there's some line like this (DEBUG level):
[code]
I will use your workaround for now, see referenced commit, but there should be an organizer in the dav event.

[2015-01-12 08:59] fmbiete commented on #129
Hi @zero-one-devteam

I don't understand the issue.

Are you saying that the iOS mail client will maintain messages outside the sync range??
So if the max sync time in server is defined to 1 month, and client defines 2 months, that extra month will be locally stored in the mail client, and not synced??
That's nasty...

[2015-01-12 09:02] zero-one-devteam commented on #129
No, my problem is:

iOS is set to 1 month sync, server has no limit. When searching, the iOS device shows the results of the last month as duplicates - they are found on the device AND via server based search. Results from more than one month ago are shown correctly.

[2015-01-12 09:06] fmbiete commented on #130
@extremeshok
put your log in WEBXML level and look into it.

Also try changing this:
[code]

Using INBOX there is for courier or compatible mailboxes, where you have something like this:
[code]

Maybe I should rename the to IMAP_FOLDER_PREFIX

[2015-01-12 09:12] fmbiete commented on #115
Hi @fpPierre

You must change the vcard id in the script to something existing in your account

[code]

[2015-01-12 09:15] fmbiete commented on #126
Use that option witch care!! You will lose changes if the user works with various emails clients (desktop and mobile for example).

[2015-01-12 09:19] fmbiete commented on #129
Ok. But that's also nasty... :imp:

iOS is doing a local and remote search and after it doesn't merge both results.
Could you post the WBXML log for the search operation?? maybe iOS is sending a flag to inform of that behaviour

[2015-01-12 09:34] extremeshok commented on #130
z-push-log with WEBXML  logging level with define('IMAP_FOLDER_ROOT', '');
...
12/01/2015 09:19:55 [ 8687] [DEBUG] [****removed email****] -------- Start
12/01/2015 09:19:55 [ 8687] [ INFO] [****removed email****] Version='SVN-trunk-r1931' method='OPTIONS' from='196.210.207.241' cmd='' getUser='****removed email****' devId='' devType=''
12/01/2015 09:19:55 [ 8687] [DEBUG] [****removed email****] N

[2015-01-12 19:11] roggrat commented on #124
Hi @fmbiete,
sorry for the delay, I will get you a test account later today.
Thanks.

[2015-01-12 22:41] extremeshok commented on #130
Are there any issues with the above log ?

If not then there is there bug or compatibility issue with z-push ?

[2015-01-13 10:20] zero-one-devteam commented on #127
I double cheched the logs, but no line like
BackendCalDAV->_ParseVEventToSyncObject(): '%s' is not yet supported.

[2015-01-13 10:23] zero-one-devteam opened #131 "Invitations on iOS, no RSVP button"
Hi,

when opening an e-mail with an invitation on iOS I do not see the rsvp buttons (accept, decline etc.).

I send invites from different servers to myself (outlook.de, yahoo, fastmail ...). I receive the email with the ics attachment. But when clicking on the attachment, I only have the option "add to calendar" and the organizuer won't be informed if I will attend.

Is this a known limitation?

[2015-01-14 11:12] fmbiete commented on #130
Your log doesn't show any error, but the client is sending SyncFolder operation and not acknowledging the response. So maybe it's a compatibility issue.
What's your client/mobile?

[2015-01-14 11:13] #128 closed

[2015-01-14 11:16] fmbiete commented on #127
Could you post the raw dav event text?

[2015-01-14 11:17] fmbiete commented on #131
Yes, that functionality is a work in progress.

[2015-01-16 10:44] polytan02 commented on #108
Hi guys,

I also have this issue. Same configuration : Baikal+Z-push.
All my Blackberry's are OS 10.3+

Everything works well (email, card, cal), but not the invit.

Would it be possible to add this feature please ? :)

https://forums.zarafa.com/showthread.php?11126-What-is-the-best-Carddav-Caldav-server-to-run-with-z-push-and-BB-10-3&p=48537#post48537

[2015-01-19 13:31] fpPierre commented on #115
Hello fmbiete,
please excuse my very late response.

I did run the test script again and got the following result, which looks ok to me:

 http://[URL]:80/addressbooks/[USER]/ http://[URL]:80/addressbooks/[USER]/personal/
 http://[URL]:80/addressbooks/[USER]/collected/ http://[URL]:80/addressbooks/[USER]/family/
 http://[URL]:80/addressbooks/[USER]/personal/ http://[URL]:80/addressbooks/[USER]/wor

[2015-01-20 19:49] extremeshok commented on #130
Tried with iOS 8 (ipad) and Outlook 2013 (windows 7)

Compatibility with the imap server ?

[2015-01-28 11:22] fpPierre commented on #115
Dear Francisco,

I know it has been a while but since we still haven't found a solution to this problem I would greatly appreciate if you could plase take another look at this. Thank you.

[2015-01-28 15:49] dafner opened #133 "Conversation Mode and download Images settings"
Hi,

I have a BB Z10 and the email account is set like Exchange/ActiveSync. All work fine except by two questions:
1) When I turn on the conversation mode in the configuration of the account to view conversation
threads instead of single messages all messages are displayed in the same way, no matter how I set up the account.
2) When I receive a message with an image attached, the image is not auto

[2015-01-29 04:54] roggrat commented on #124
Hi @fmbiete,

I guess better late than never, I have created a demo account for you to test out. the testing scripts have also been preconfigured with the demo credentials I've just sent you. Let me know if need anything else to be able to troubleshoot.

[2015-01-30 13:17] bax- opened #135 "PHP 5.6: Error because "$HTTP_RAW_POST_DATA""
When installing this on a standard PHP 5.6 install, the following error is being thrown and breaks the whole app:

[code]

The line in question is commented out in the default php.ini for 5.6. So you have to un-comment it.
Maybe there is something that could / should be changed in z-push for future releases' better compatibility.

http://php.net/manual/en/reserved.variables.httprawpostdata.php

ht

[2015-02-01 08:25] fmbiete commented on #133
1. I don't we think we support conversation mode, at least we are not setting correctly the thread info in the message.
2. That should work, at least is working for me with Android. Look at your zpush log, there should be some GetAttachment calls for every message with images. Also search bb forums, maybe that's a known bug.

Regards

[2015-02-01 08:30] fmbiete commented on #135
Maybe I'm missing something but Z-Push is not using HTTP_RAW_POST_DATA, we are already using the php://input file.
Or at least I don't find HTTP_RAW_POST_DATA anywhere in the code...

[2015-02-01 08:34] bax- commented on #135
That's what I thought, too. I got the message after the upgrade anyways.
So it's probably more a php thing (the standard releases shouldn't have `always_populate_raw_post_data` commented out.
But I wasn't sure if there wasn't something in z-push still using a part of the HTTP_RAW_POST_DATA so I thought it was worth sharing, also for people upgrading in the future…

[2015-02-01 08:37] fmbiete commented on #135
Yup, maybe it's a dependant library that includes the depecrated bit. I have just searched in awl library (xmldocument.php for caldav and carddav support), but it doesn't include it.
So maybe curl or some other system package.

I intend to upgrade my servers to 5.6 soon, so I will take a deeper look into this then.

[2015-02-01 08:38] fmbiete commented on #131
#108

[2015-02-01 08:38] #131 closed

[2015-02-01 08:41] fmbiete commented on #130
No, with the client.
I have a list of problems for iOS 8, and Outlook 2013. When I have time I will put them in the wiki.
If only Apple would offer an emulator for non-mac users...

[2015-02-01 08:45] fmbiete commented on #124
Hi @roggrat

I have not received any message with the credentials.

[2015-02-01 08:47] #122 closed

[2015-02-01 08:57] fmbiete commented on #115
So, the test works fine.

Do the following (with an empty addressbook in the server)
1. Create a contact in Android (use the emulator if you don't have any Android device)
2. Edit the contact from Android
3. The contact should show in Android and non errors appear in the server log
4. Sync the contacts in Outlook, it should show correctly
5. Edit the contact in Outlook
6. Create a new contact in O

[2015-02-01 17:08] polytan02 opened #136 "no invitation is sent when meeting is created"
Hello,

Please find output of testing-caldav.php there :
https://mcgva.ovh/zerobin/?f6adfcf4421e88e6#SQR4tyCgZ7r0hOoLxJjBhMzu2d88/J4e59UryUD8Pg4=

The system is composed of debain 7 + Baikal + devocot + postfix + Z-push.

I don't know why, but when I create a calendar event from my phone inviting people, email is sent but without text notr attachment.

If I send the same using the native caldav im

[2015-02-01 18:16] MisterM74 opened #137 "Class 'XMLElement' not found"
Good Morning
My include directory, XML files are the:
<pre>drwxr-xr-x  3 www-data www-data  4096 Feb  1 05:10 Auth
-rwxr-xr-x  1 www-data www-data 36094 Feb  1 05:10 caldav-client-v2.php
-rwxr-xr-x  1 www-data www-data 60802 Feb  1 05:10 iCalendar.php
drwxr-xr-x  2 www-data www-data  4096 Feb  1 05:10 Mail
-rwxr-xr-x  1 www-data www-data 10637 Feb  1 05:10 Mail.php
-rwxr-xr-x  1 www-data www-data

[2015-02-02 12:15] chises commented on #137
Hi,
did you add the /usr/share/awl/inc path to you php.ini?

https://github.com/fmbiete/Z-Push-contrib/issues/71#issuecomment-48845234

[2015-02-03 15:20] roggrat commented on #124
Hi @fmbiete,

i just resent the demo acct credentials

[2015-02-05 09:52] marcosaiu opened #138 "With BackendCombined have error "PHP Fatal error: Call to a member function LoadConflicts()""
PHP Fatal error:  Call to a member function LoadConflicts() on a non-object in /var/www/vhosts/default/htdocs/lib/request/sync.php on line 1068

        $this->importer->LoadConflicts($spa->GetCPO(), $sc->GetParameter($spa, "state"));

[2015-02-05 09:56] marcosaiu commented on #138
'backends' => array(
            'i' => array(
                'name' => 'BackendIMAP',
            ),
            'c' => array(
                'name' => 'BackendCalDAV',
            ),
            'd' => array(
                'name' => 'BackendCardDAV',
            ),
        ),
        'delimiter' => '/',
        //force one type of folder to one backend
        //it must match one of the abov

[2015-02-06 14:41] marcosaiu commented on #138
Solved with comment GAL in backend carddav "config.php"

// Server path to the GAL addressbook. This addressbook is readonly and searchable by the user, but it will NOT be synced.
// If you don't want GAL, comment it
// %u: replaced with the username
// %d: replaced with the domain
//  Add the trailing /
//define('CARDDAV_GAL_PATH', '/caldav.php/%d/GAL/');

// Minimal length for the search pattern

[2015-02-06 14:41] #138 closed

[2015-02-08 11:14] fmbiete commented on #136
Hi @polytan02 ,

Yes, that funcionality (in BackendIMAP) is not yet complete: #108, #131

[2015-02-08 11:14] #136 closed

[2015-02-08 11:15] fmbiete commented on #137
Yep, as @chises said you need the php-awl-libs in your php path; for backends caldav and carddav.

[2015-02-08 11:15] #137 closed

[2015-02-08 12:29] polytan02 commented on #131
Would it be difficult to implement this function ? I have to say that it is the last function I miss so as to be able to use active sync on my phone instead of imap+carddav+caldav.

[2015-02-16 07:05] mjonstone opened #139 "CalDAV errors"
Hello,

We have configured z-push with our caldav server and have followed the example configuration although we're getting this error:

16/02/2015 17:42:34 [ 5456] [ WARN] [EMAIL] [APPLE] include/z_caldav.php:655 Undefined index: DAV::href (8)
16/02/2015 17:42:34 [ 5456] [ WARN] [EMAIL] [APPLE] include/z_caldav.php:656 Undefined index:  (8)
16/02/2015 17:42:34 [ 5456] [ WARN] [EMAIL] [APPLE] incl

[2015-02-16 22:30] gregkster commented on #108
So the observed behavior is that the client sends the invite emails.  Both iphone and android do it, but there is no attachment for either.  Updates from iphone generate empty emails.  Andorid generates emails with some text info, but still no attachment.
What's broken here?  Is the client supposed to send the attachment or is z-push supposed to intercept it and add the attachment?
I verified that

[2015-02-18 15:11] chises commented on #91
Hi all,
i have the same issue!
setup:
root@vsrv03 ~ # uname -a
Linux vsrv03.xxxx 3.2.0-4-amd64 #1 SMP Debian 3.2.65-1+deb7u1 x86_64 GNU/Linux

root@vsrv03 ~ # nginx -v
nginx version: nginx/1.2.1

z-push "SVN-trunk-r1931"

using owncloud 8 that provides the caldav backend.

If i change
    define('SYNC_CONFLICT_DEFAULT', SYNC_CONFLICT_OVERWRITE_PIM);
to
    define('SYNC_CONFLICT_DEFAULT', SYNC_CONF

[2015-02-19 10:23] chises opened #140 "Change CalDAV in Outlook 2013 fails"
Hi all,
 i have the same issue like https://github.com/fmbiete/Z-Push-contrib/issues/91
 setup:
 root@vsrv03 ~ # uname -a
 Linux vsrv03.xxxx 3.2.0-4-amd64 #1 SMP Debian 3.2.65-1+deb7u1 x86_64 GNU/Linux

root@vsrv03 ~ # nginx -v
 nginx version: nginx/1.2.1

z-push "SVN-trunk-r1931"

using owncloud 8 that provides the caldav backend.

If i change
 define('SYNC_CONFLICT_DEFAULT', SYNC_CONFLICT_OVERWR

[2015-02-24 13:19] chises commented on #140
Update:
I get an other issue:
If i create a new CalDAV entry i get this error:
z-push/include/z_caldav.php:346 Undefined property: CalDAVClient::$httpRequest (8)

[2015-02-24 14:45] #140 closed

[2015-02-24 14:51] chises opened #141 "Outlook 2013 CalDAV error"
Hi,
i am using a caldav backend.
If i am going to create a new entry i get the following warning:
24/02/2015 15:43:10 [  904] [ WARN] [test@domain.net] /var/www/z-push/include/z_caldav.php:348 Undefined property: CalDAVClient::$httpRequest (8)

Outlook is waiting for the Server-Response and get no answers.
I cant find the parameter httpRequest in file z_caldav.php.

My nginx Settings:
server {

[2015-02-25 15:22] aya opened #142 "broken mail with accentued character on Windows Phone 8.1"
Hi Francisco,

A friend of mine report me that he can't send anymore accentued characters with his windows phone with the last version of z-push-contrib.
The mail content is broken just after the accentued character.
The pb is not present in z-push 2.1.3.

Hope that helps !
Yann

[2015-02-27 16:09] chises commented on #141
update
z-push-top printout
10736 <outlook client ip>   <user>        Sync            01:03   Outlook/15.0 (15.0.4569.1.. f019a3e1f609404c87ab28851394eb8d Creating new message from mobile 1

[2015-03-01 08:13] fmbiete commented on #108
I haven't looked to it in deep, but Z-Push needs to intercept the invitation and create a message with the "attachment". Also in the reply, it need to save the changes in the caldav backend.

[2015-03-01 08:19] fmbiete commented on #142
Hi @aya ,

No, it doesn't help a lot. Could you look into the logs for any info?. I'm using accentued characters with Android and iOS device without any glitch.

[2015-03-01 08:24] fmbiete commented on #141
Hi @chises ,

The referenced commit should remove that undefined error. Let me know if it works.

[2015-03-01 08:27] fmbiete commented on #139
Hi @mjonstone
What version of PHP are you using? Can you run the testing/testing_caldav.php (filling your data) without errors?

[2015-03-01 11:54] aya commented on #142
Yes, I think the pb is related to windows phones.
I don't have access to any log, but shall I give you my friend mail to deal with him directly ?

[2015-03-01 12:59] GMTA commented on #142
I've noticed character corruption (for characters such as é) in **received** files. UTF-8 encoding works fine, but the e-mail I received had these (inline) character encodings:

Subject: =?windows-1252?Q?
MIME part: charset=windows-1252

@aya Could you possibly supply the character encodings used for those outgoing e-mails? You can find them in the source of the email.

[2015-03-02 13:28] chises commented on #141
create/edit a caldav event with outlook is not working.
But hits strange issue is solved.
i will open a new issue with some logs.

B

[2015-03-02 13:28] #141 closed

[2015-03-02 15:52] fmbiete commented on #142
If possible, upload the raw message (or send me as a file fmbiete at gmail dot com), so we can view the real encoding used. Replace any sensible info.

Thanks

[2015-03-02 23:19] GMTA commented on #139
I saw these too on my CalDAV backend. Will try to investigate.

[2015-03-02 23:20] mjonstone commented on #139
I ended up solving the issue with CalDAV (was an issue on my side) although these errors still appear. It's doesn't appear to be a critical error. I was using PHP 5.3.3

[2015-03-04 16:20] cacsa commented on #97
Hi all,

Where is that workaround code placed? Which file? I have been searching all over for a fix on this same exact issue.

Thanks!

[2015-03-04 16:44] jfedyczak commented on #97
@cacsa Just before closing `?>` in `config.php`:
[code]

[2015-03-04 16:57] cacsa commented on #97
Perfect.. Thank you so much @jfedyczak !!

[2015-03-06 09:52] aya commented on #142
Hi,

The fix provided resolves this issue, many thanks !

Yann

[2015-03-06 09:52] #142 closed

[2015-03-08 11:15] GMTA commented on #139
@mjonstone

Could it be that you had set CALDAV_SUPPORTS_SYNC to true while the caldav interface did not support it? I've submitted a PR that would "fix" this by informing the user of the configuration error.

[2015-03-08 21:32] redhell commented on #82
The problem still exists.

On the newest master branch line 210 throws the wbxml error:
        RequestProcessor::Initialize();
        if(!RequestProcessor::HandleRequest())
            throw new WBXMLException(ZLog::GetWBXMLDebugInfo());

My server logs are still useless because they don't contain any information...

[2015-03-09 11:08] aya commented on #142
Hi Francisco,

Here attached is a log from another issue related to mail encoding.

When sending a mail from Windows phone with zpush-contrib, the mail
cannot be opened with another Windows phone using kerio mail server
active sync.

You can see the difference in both
'wp_sent_log_with_zpush_mikousync.log' (OK) and
'wp_sent_log_with_zpushcontrib_mikousync.log' (KO) files.

The mail is formatted wi

[2015-03-09 22:52] GMTA commented on #142
I've tested the output EML that @aya posted above, and the email is perfectly fine - it can be read by Thunderbird and Outlook 2013 without any character encoding issues.

So the actual issue here could be that Windows phone doesn't understand a MIME part with one encoding in the headers, and another inline in the HTML? This would be a bug on the part of the phone, not Z-Push-contrib, but we could

[2015-03-13 20:09] chises opened #155 "BackendIMAP->GetFolderList(): imap_list failed"
I have this warning:

13/03/2015 21:02:42 [18225] [WARN] [user@mail.de] BackendIMAP->GetFolderList(): imap_list failed:
13/03/2015 21:02:42 [18225] [WARN] [user@mailcoca.de] StatusException: ExportChangesDiff->InitializeExporter(): error, no folders available from the backend - code: 12 - file: /var/www/Z-Push-contrib/lib/default/diffbackend/exportchangesdiff.php:105

On line 666 @ ./backend/imap/

[2015-03-14 13:52] fortiko opened #156 "Character encoding messed up"
Just for the record, I sent myself a "share" email on iOS 8.2, and received the following preview in my Inbox (up-to-date git commit c7a73b39dea4cdf78c5ba94364851af6d3120ba0):

![asian](https://cloud.githubusercontent.com/assets/1612534/6651879/b3dcba1a-ca58-11e4-8412-eadbbd0df863.jpg)

the email only contains a URL, and when I just repeated the experiment, I do get a preview without asian letters

[2015-03-14 13:55] fortiko commented on #156
Great, now it fixed itself for some reason: the 2 messages from a couple of minutes ago have a preview now, and the asian characters have also disappeared in favour of the preview:

![correct](https://cloud.githubusercontent.com/assets/1612534/6651905/0d8ecf34-ca5a-11e4-822d-6ee467002eeb.jpg)

Even though it was only "temporary" (for about 14 hours), this could be indicating something more importa

[2015-03-14 16:01] fmbiete commented on #155
Try executing imap_getsubscribed instead of imap_list.

I think your user it's not subscribed to any folder. What is your IMAP server?

[2015-03-14 16:06] fmbiete commented on #156
Hi @fortiko,
if you saved your log server in WBXML level, compare the wrong and the ok GetMessage operation.
Also look if the message was sent alone or with other messages to the phone.

[2015-03-15 10:33] chises commented on #155
I tried this Setup with a new e-mail Account.
Mailserver is @ debian a postfix/dovecot Setup.
I will come back after more testing :)

Note:if i use a simple php Script with imap_list i get INBOX
For testing i added a imap folder.
Additional folderpath: INBOX.test

In z-push imap config i set default folder to INBOX.

[2015-03-17 13:51] MykeulGit opened #157 "Loop detected on IMAP and impossible to get rid of it"
Hello,

First of all, thank you for this fork, which is perfectly what I needed. Good work.

Tech env :
- Debian Jessie
- Apache 2.4.10
- PHP 5.6.6
- php-xsl module enabled (verified)
- libawl-php module 0.55 enabled (verified)
- dovecot 2.2.13
- exim 4.82 (heavy)
- owncloud 7.0.4

I have 3 mailboxes on my current test system, and on 2 of them, I get an infinite loop (that never ends obviously).
I

[2015-03-17 17:25] fortiko commented on #156
It is not about the message, I have now observer that the *same* messages flip-flops back and forth between "Asian" characters and Latin characters. Now I am trying to reproduce the issue and save the WBXML log to figure out what causes it… Heisenberg indeed!

[2015-03-19 07:38] fmbiete commented on #157
Hi @MykeulGit

Put your log in WBXML level and check for errors processing the message with id: 1773
Maybe you will find the reason why it's stopping in that message.

[2015-03-20 15:37] MykeulGit commented on #157
Hello,

Thanks for your answer.
Very surprisingly, it solved my problem but I do not know why.
When activating WEBXML debug, I maxed out the 128M memory_limit of php. I pushed it to 1024M and I have no problem anymore ... which is bizarre as I never had the memory_limit error before.

Now I have another problem, all folders are synced EXCEPT the INBOX which is empty (whereas in the logs it syncs a

[2015-03-21 19:46] fmbiete commented on #157
Hi @MykeulGit

IMAP_FOLDER_ROOT is the name of your inbox folder, so in your case, it should be INBOX (the default value)
IMAP_FOLDER_SENT; "Sent"
IMAP_FOLDER_DRAFT; "Drafts"
IMAP_FOLDER_TRASH; "Trash"

I think that part needs some rework, so stay tuned.

[2015-03-21 20:55] #157 closed

[2015-03-21 20:57] fmbiete commented on #157
I also have found a problem with the imap_getsubscribed function and dovecot, INBOX won't be listed. So I reverted back to the imap_getmailboxes.

Note the new required config options.

[2015-03-22 03:31] norm2k opened #162 "Function Problem"
There is a problem with backend/imap/imap.php
Line 745 should read:
 `if (strcasecmp($imapid, $this->create_name_folder(IMAP_FOLDER_INBOX)) == 0) {`
Line 750
`else if (strcasecmp($imapid, $this->create_name_folder(IMAP_FOLDER_DRAFT)) == 0) {`
Line 755
`else if (strcasecmp($imapid, $this->create_name_folder(IMAP_FOLDER_SENT)) == 0) {`
Line 761
`else if (strcasecmp($imapid, $this->create_name_folder

[2015-03-22 08:15] fmbiete commented on #162
Indeed, I missed to put "$this->" for the new calls.

Thanks!

[2015-03-22 08:15] #162 closed

[2015-03-22 18:02] t3chguy opened #163 "CardDAV Backend not working - OwnCloud - SabreDAV"
The z-push log shows:
[code]
I filled in the CardDAV Testing file and ran it, getting the following output:
[code]

What can I provide you with to help debug this? What confuses me most is that if the testing file works then why doesn't z-push.

[2015-03-23 08:16] t3chguy commented on #163
Weirder yet, I copied the z-Push-Contrib I used on my Primary Server onto a testbench I just spun up at Digital Ocean, changed the IMAP and SMTP references from Localhost to my Primary's External IP and it works fine, strangest thing ever.

[2015-03-23 10:34] MykeulGit commented on #157
Hello,

I would like to thank you really. It works perfectly.
Very good software, keep up the good work.

Regards

[2015-03-23 16:01] fmbiete commented on #163
That's really strange. Since a 403 code error is unauthorized access, look at your apache/nginx + owncloud logs. Maybe there you can see the real cause of the failed operation.

You can also add some ZLog::Write(LOGLEVEL_DEBUG...) lines to include/z_carddav.php printing the full response of the carddav server.

[2015-03-23 19:53] t3chguy commented on #163
That error no longer occurs but the Sync itself isn't working. Contacts only shows "Me" [Might be a client thing] but none more [worked on PHP-Push-2]. Calendar is completely empty, adding to either of them doesn't work. IMAP sometimes picks up the E-Mails, the rest of time its stuck on Syncing.
[code]

[2015-03-23 23:17] t3chguy commented on #163
Even more frustratingly, my ipad syncs emails fine but my OnePlus One doesn't. Running cyanogenmod nightly lollipop with exchange account through Gmail app. Neither are syncing calendars or contacts. The above will log is for my opo AFAIK

[2015-03-24 06:26] t3chguy commented on #163
The initial error comes up every now and then, and the corresponding OwnCloud Log Entry is:
[code]

[2015-03-25 15:47] pasjojo opened #164 "Address validation failed when sending mail to some recipients - character encoding"
Hi,
I am pleased to use z-push-contrib on a Ubuntu Server with gmail addresses.
It work very well except when i try to send email to some recipients from my IOS devices.

Some of my recipients looks like :

Joël P. <<joel@a.domain.fr>>

The error in the z-push-contrib log : z_RFC822 error: Validation failed for: =?utf-8?Q?"Jo=C3=ABl_P."?= <joel@a.domain.fr>

<pre>
25/03/2015 16:25:33 [ 1719] [INFO

[2015-03-25 15:54] t3chguy commented on #164
This happens on my ubuntu system too

[2015-03-25 17:49] pasjojo commented on #164
It's ok with : Joël P <joel@a.domain.fr>   so the problem seems to come from the '.'  at the end of "Joël P." in my first example. (and not the umlaut).

[2015-03-27 17:25] #164 closed

[2015-03-27 17:26] fmbiete commented on #164
Hi @pasjojo,

The 2 referenced commits should fix the problem. Test again and let me know if it works.

Thanks!

[2015-03-27 17:33] fmbiete commented on #163
Be sure to set to false those settings:

[code]

Also use the testing scripts to validate your config and connections to DAV server (Owncloud):
- testing/testing-caldav.php
- testing/testing-carddav.php

[2015-03-27 18:07] t3chguy commented on #163
It seems syncing is now working fine, I'm not entirely sure what it was, resetting all data a few times seems to have fixed it. The only thing I'm confused by is that on z-push-top my Android device seems to always be connected, which is expected, but deleting an e-mail, creating a contact takes a little while to show up on the server. I can force it by refreshing in the GMail app, and this is mos

[2015-03-27 18:19] fmbiete commented on #163
Great! After testing and changing configs, it's better to resync completely.

The delay is a feature in the android client (lollipop version), I believe it's generated to allow the "undo" operations. You can just ignore it, since more users won't notice it or will force the update if they are in a hurry.
Enable the access_log to view when the client has really contacted with z-push.

The Etag mess

[2015-03-27 20:30] pasjojo commented on #164
Hi,

I just tested with the last commit : it works fine !

Thanks !

[2015-03-28 01:03] sealand210 opened #165 "Autodiscover not working"
1. if browse via web goes straight into z-push info page without authentication
2. if try create a account on iPhone, it will indicate unable to verify account information
3. no error logs in apache and no error logs in z-push

certificate and domain record all ok, tested with a pre-configured autodiscover.xml

[2015-03-29 06:54] fmbiete commented on #155
This should be fixed with commit referenced in #157

Reopen the issue if it doesn't work for you.

Thanks!

[2015-03-29 06:54] #155 closed

[2015-03-29 06:58] fmbiete commented on #109
I will close this as fixed.

If someone out there has problems using postgresql, please tell me.

[2015-03-29 06:58] #109 closed

[2015-03-29 07:01] fmbiete commented on #112
I will close this. If you have yet problems let me know.

[2015-03-29 07:01] #112 closed

[2015-03-29 07:04] fmbiete commented on #53
As 654a12bb27be194f8b378a2a9926e9d6f8d0bd3d we support the Junk folder for iOS devices. So this should be done.

Thanks!!

[2015-03-29 07:04] #53 closed

[2015-03-29 07:05] fmbiete commented on #94
As 242acef8d684f440bb1669b67b39add4c981db0f we have a working config settings for gmail.

Thanks!

[2015-03-29 07:05] #94 closed

[2015-03-30 14:45] t3chguy opened #166 "Feature Request - Mark as Read when Moving to Trash"
Roundcube Mail has a nice optional feature, which allows you to have all mail being put into Trash to be marked as Read. Any chance of you adding this to your imap backend and making it configurable in its respective config.php?

[2015-03-30 15:10] fmbiete commented on #165
Hi @sealand210 ,

At the moment I don't use the autodiscover functionality, so I cannot help you so much with it.
Just to tick tasks, does z-push work with manual configuration?

[2015-03-30 15:24] #166 closed

[2015-03-30 15:25] fmbiete commented on #166
Hi @t3chguy ,

This shouldn't be too hard, so test with the referenced commit.

Regards,

[2015-03-30 15:25] t3chguy commented on #166
Wow @fmbiete that was incredibly fast, thanks!

[2015-03-30 17:53] fmbiete commented on #127
I will close this as fixed in the referenced commit.

[2015-03-30 17:53] #127 closed

[2015-03-30 22:13] t3chguy commented on #166
Well it didn't seem to work, I'll add some debug lines into the code and figure out what's going on. When I wake up that is, I'll post back here when I know something

[2015-03-31 07:07] GMTA commented on #166
I'm wondering whether this should be a part of the communication layer, because it's usually the client that determines this? Or do you know of cases where this is implemented in the backend?

The default in most email clients is to leave the 'read' flags alone when deleting messages. I would expect some confusion if someone sets this option by accident and tries to fix it in his or her email clie

[2015-03-31 09:20] t3chguy commented on #165
if iOS uses autodiscover then it is working fine on my iPad. I am routing any request containing (case insensitive) /autodiscover to the autodiscover.php and all other requests to the index.php for z-push-contrib

[2015-03-31 14:06] t3chguy commented on #166
@fmbiete,
I'm wondering whether it doesn't work because its in the DeleteMessage method, the comment above it ```Called when the user has requested to delete (really delete) a message``` suggests that its not for messages being moved to trash, and instead for messages being deleted from trash, am I right in thinking that?

[2015-04-01 04:48] chises commented on #155
@fmbiete thank you, fixed! :)

[2015-04-01 04:54] chises commented on #165
@sealand210
can you verfiy autodiscovery with this:
https://testconnectivity.microsoft.com/

for me it is working.
nginx version: nginx/1.6.2
PHP 5.4.39-0+deb7u1

[2015-04-01 05:04] chises opened #167 "Windows Phone 8.1 - "URL without the required GET""
i already (before a few months) synced my phone successful.
Outlook 2013 is working.

Setup: nginx version: nginx/1.6.2, PHP 5.4.39-0+deb7u1, BackendCombined
After Setting up the Acount it can not be synced, WindowsPhone ErrorCode: 85010014

z-push error-Log:
01/04/2015 06:58:33 [28781] [FATAL] [user@tld.de] FatalException: Requested the Z-Push URL without the required GET parameters - code: 0 - f

[2015-04-01 08:19] t3chguy commented on #167
Loguserfile relies on the user being authenticated, seems like your issue happens prior or during authentication

[2015-04-01 08:22] t3chguy commented on #165
if it helps,
Nginx Ver: 1.6.2
PHP ver: PHP 5.6.7-1+deb.sury.org~trusty+1

[2015-04-02 15:04] sealand210 commented on #165
Thanks for your reply!

Z-push is working with IMAP backend, push mail is working fine. But I couldn't get it to work with CalDav or CardDav (from openxchange), the log reads it has passed the authentication but the phone is not getting any data.

Test result from Microsoft Connectivity Test (failed at the last step):

 	The Microsoft Connectivity Analyzer failed to obtain an Autodiscover XML resp

[2015-04-02 16:28] t3chguy opened #168 "SMTP Too Strict SSL Checking in PHP5.6"
[code]
localhost and 127.0.0.1 are considered secure, and the SSL Checking for them should be ignored, so that the Certificate signed for the External Domain does not get compared to the local URI. Please add this, as a config option so we can override the default strict SSL behaviour.

Edit:
I think this only affects newer 5.6+ PHP Versions

Thanks

[2015-04-02 17:45] fmbiete opened #169 "Docker: Run z-push-admin.php from a container"
If we try to run z-push-admin.php from a container we get an error, because we are missing some env variables (TERM & LOGNAME).

[code]

[code]

z-push-admin.php
[code]

A solution would be check if php_sapi_name() == "cli"

http://php.net/manual/en/function.php-sapi-name.php
http://docs.hhvm.com/manual/en/function.php-sapi-name.php

[2015-04-02 18:00] fmbiete commented on #169
Fixed as ee57662fbcd54f6311db242dbcacfeba54585fad

[2015-04-02 18:00] #169 closed

[2015-04-02 18:52] fmbiete opened #170 "TopCollectorRedis"
When running z-push-top.php within @echampet branch

[code]

[2015-04-02 19:48] t3chguy commented on #168
Found a workaround, its incomplete, but functional. You should add the string used in it to the config and add the passing of it forward. Or similar.
[code]

[2015-04-02 20:02] t3chguy opened #171 "Mailbox doesn't exist: SENT"
The config says the folders are case-insensitive
I logged in through TelNet to list all the folders in my account:
[code]
Yet I get the following errors:
[code]
And with that, mails aren't being saved to my Sent Folder

Checked with PHP too, it can see Sent fine, is the config fine wrong when it says Case doesn't matter?
[code]

[2015-04-02 20:04] t3chguy commented on #171
Actually, my phone can see the Sent folder, but I'm not able to move things in or out of it. Its not listed in the Move to dialog.

[2015-04-02 20:21] t3chguy commented on #171
Correcting the case of the folder fixed the issue

[2015-04-02 20:27] t3chguy opened #172 "Feature Request - Reject Login when not Valid E-Mail Address and USE_FULLEMAIL_FOR_LOGIN"
I had an issue with my iPad defaulting the EAS username to being just the localpart, preventing me from being able to send via IMAP/SMTP Backend as it tried the SASL username of %localpart%@localhost instead of %localpart%@domain, I had to manually change the username the iPad used. I'd much rather have z-push-contrib reject the e-mail in this case, OR preferably add a default domain to these acco

[2015-04-03 03:35] sealand210 opened #173 "OpenXchange CalDav sync issue"
A little bit of background info:
1. Caldav service is from OpenXchange and is working. Tested with apple iCal and Thunderbird lighting.
2. CalDav path is https://dav.example.com//principals/users/ <UserName>/
3. login name can be either username@example.com or just UserName

Issue:
Couldn't authenticate via either username@example.com or just UserName, and here is the log:

03/04/2015 03:04:45 [10

[2015-04-03 08:14] fmbiete commented on #166
@GMTA
Yes, it should be part of the client (roundcube, thunderbird offer it). But since the BackendIMAP is our client, that option should be offered there. Disabled by default, and the sysadmin should know what he is doing before enabling it.

@t3chguy
Indeed. DeleteMessage is the real delete. MoveMessage will be called when deleting to Trash.
Test with the last referenced commit.

[2015-04-03 08:19] t3chguy commented on #166
I'll test it shortly, only thing I don't understand is why $move_to_trash is defined so early on, there's many ways for it to never get used, why doesn't it for instance get defined much later on?

[2015-04-03 08:21] fmbiete commented on #167
Hi @chises

In your case you should yet see 2 log lines before the error:
[code]

The interesting one is the second. You will see method=POST, but what's the value for cmd, getUser and the 2 values after [INFO]??

[2015-04-03 08:24] fmbiete commented on #165
Happy that you found the solution :laughing:

The server address with the full fqdn in the config is a nasty bit... I cannot use the same code with multiples fqdn.

[2015-04-03 08:24] #165 closed

[2015-04-03 08:38] t3chguy commented on #166
The Commit works

[2015-04-03 08:39] t3chguy commented on #163
I'm having a lot more issues with this now, OwnCloud is complaining about missing Basic Authentication Headers:
[code]
OwnCloud:
[code]

[2015-04-03 08:59] fmbiete commented on #168
Hi @t3chguy

True, PHP 5.6 verifies, by default, the certificate. I have added some flags in the config so we can workaround any problem. Of course the recommended option is to use a valid certificate, but it won't be always possible.

Let me know if it works.

[2015-04-03 09:00] t3chguy commented on #168
@fmbiete I use a valid certificate externally, but locally its silly having a Certificate signed to "localhost"

[2015-04-03 09:12] fmbiete commented on #171
HI @t3chguy ,

That's a bug. Could you test the referenced commit and the failing value in the SENT?

Thanks!!

[2015-04-03 09:16] fmbiete commented on #172
I will look into this.

[2015-04-03 09:21] fmbiete commented on #173
Hi @sealand210

First of all we have to get rid of this error:
[code]

You need to define the port in your caldav/config.php
[code]

[2015-04-03 09:24] fmbiete commented on #166
Yeah, the variable can be defined just before use. :+1:  Fixed!

[2015-04-03 09:31] fmbiete commented on #168
In that case you should disable the verification in your z-push servers, because it won't match the expected name. Changing the peer_name in the context doesn't seems sane to me.

[2015-04-03 12:25] sealand210 commented on #173
Port number was already defined, but strangely it's still saying that in the log.

I just found out this authentication error was due to z-push only supports very limited password encryption methods, it there a way to authenticate via plain text?

I can get rid of the authentication error if I change the password hash to MD5 in openXchange DB, but then I couldn't login to webmail as OX does not su

[2015-04-03 13:21] t3chguy commented on #163
This issue may be related to the other one I posted about it trying to login with postmaster@localhost

[2015-04-03 13:37] fmbiete commented on #173
CalDAV & CardDAV drivers only support basic authentication methods:
CURLAUTH_ANY -> CURLAUTH_BASIC | CURLAUTH_DIGEST | CURLAUTH_GSSNEGOTIATE | CURLAUTH_NTLM.

You could try replacing CURLAUTH_ANY by CURLAUTH_ANYSAFE (z_caldav.php & z_carddav.php).

For more advanced authentications (oauth or alike) we would need to add customized headers.

[2015-04-03 20:18] norm2k commented on #171
This breaks the sent folder for me.
BackendIMAP->saveSentMessage(): Outgoing mail saved in 'Sent' folder 'e903eb33'
BackendIMAP->Logoff(): IMAP said: [TRYCREATE] Mailbox doesn't exist: e903eb33
BackendIMAP->Logoff(): IMAP connection closed

[2015-04-04 16:42] fmbiete commented on #171
@norm2k I forgot to convert back the sentID to imapID before saving the sent message. Now it should work.

Thanks!!

[2015-04-04 17:56] norm2k commented on #171
Works great.  This also solves the problem with case.  Thanks!!

[2015-04-04 18:24] fmbiete commented on #171
I will close this then, :+1: Thanks for testing.

[2015-04-04 18:24] #171 closed

[2015-04-05 05:30] chises commented on #167
Actually i am on vacation. I will come back with More Information in about 2 days :)

[2015-04-12 11:11] chises commented on #167
hi, sorry for the late Response:
still same error: outlook2013 ok, Windows phone 8.1 - error:

DEBUG LOG:
12/04/2015 13:09:02 [ 6278] [ INFO] [email@tld.de] User-agent: 'unknown'
12/04/2015 13:09:02 [ 6278] [DEBUG] [email@tld.de] ZPush::PrintZPushLegal()
12/04/2015 13:09:02 [ 6278] [DEBUG] [email@tld.de] -------- End
12/04/2015 13:09:02 [ 8299] [DEBUG] [email@tld.de] -------- Start
12/04/2015 13:0

[2015-04-13 16:07] fmbiete commented on #167
Ummm... indeed that's wrong.
The phone is sending a GET request, and that's a bad request.

Try to remove and readd the account. I don't have a Windows Phone 8.1 so it will be hard to debug.

[2015-04-16 13:32] burton1982 opened #176 "backend combinded caldav and Tasks"
Hello!

I am not sure whether this is a bug or whether I have done something wrong. The Problem is,  that in my Outlook 2013, my Tasks "Folders" from Zimbra appear  as Calendars .

I use the combined backend with: caldav, imap and carddav

The combined backend look like this:

 ......
        'backends' => array(
            'i' => array(
                'name' => 'BackendIMAP',
            ),

[2015-04-16 17:17] burton1982 commented on #176
it looks like zimbra is using a kind of virtual folder system ...

[2015-04-17 08:05] bax- opened #177 "sem_get in FreeBSD Jails"
It appears that at least Z-Push-Top doesn't work in FreeBSD Jails since they don't allow semaphores by default (security concerns).
Are semaphores needed in every case to make this work or are there other ways?
Thanks!

[2015-04-17 16:01] fmbiete commented on #176
Your "Tasks" appears as "calendar"?

[code]

Well, if I'm not missing too much sleep (it's possible this week :sleepy: ), your are setting Caldav to manage your tasks.
We don't have a specific backend for tasks, and we are using the calendar one for it. So this would need a new backend to work...

[2015-04-17 16:05] fmbiete commented on #177
There are other ways. Take a look at the echampet branch (I'm going to merge it soon), but you will need a Redis server.

Change these lines in the config.php:
[code]

[2015-04-17 16:05] #177 closed

[2015-04-17 17:29] burton1982 commented on #176
ahh okay.. It seems that I have to wait ;-)
Thanks for your respond!

[2015-04-17 17:31] burton1982 commented on #176
If I can help you, for example with access to our zimbra server, i will be happy to do so. But unfortunately my programming experience is not good enough to to the backend by my own ...

[2015-04-17 18:32] fortiko commented on #176
With DAViCal,tasks and appointments work if the corresponding "collections" exist on the caldav server:

[code]

[2015-04-17 18:50] burton1982 commented on #176
I am not using DaviCal here. It might be that Zimbra is doing his own stuff. But on the other hand - when I add the zimbra caldav to MacOSX it seems to be working fine. I am confused..

[2015-04-17 20:25] mardanx opened #179 "StatusException: SyncCollections->CheckForChanges(): Timeout forced after 0s fro m 1680s due to other process - code: 3 - file: /usr/share/z-push/lib/core/synccollections.php:487"
Hello,

Configured caldav, carddav, imap & searchldap with the latest source (pulled from git yesterday).
Configured a Calendar, contacts and email on my android (5.1) device. All items sync, but I get a lot of timeout in the log. So I started experimenting. When I sync contacts no error, as soon I
enable the 2nd for sync, for example calendar I get the following log.

It looks like some connectio

[2015-04-17 21:29] tickerguy opened #180 "Provisioning against BlackBerry 10 (10.3.1) w/combined fails"
17/04/2015 16:22:06 [22998] [DEBUG] [karl-phone] [bb2be4bede] -------- Start
17/04/2015 16:22:06 [22998] [ INFO] [karl-phone] [bb2be4bede] Version='SVN-trunk-r1935' method='POST' from='192.168.1.21' cmd='Provision' getUser='karl-phone' devId='bb2be4bede' devType='BlackBerry'
17/04/2015 16:22:06 [22998] [DEBUG] [karl-phone] [bb2be4bede] Used timezone 'America/Chicago'
17/04/2015 16:22:06 [22998] [D

[2015-04-18 01:04] tickerguy commented on #180
Updating this, it appears that if I use combined (after allowing it to run with IMAP, and successfully creating the aforementioned missing file) it fails even if I change the config.php file to only select imap as a back end (that is, remove the other potential data types.)

It appears that "combined" is broken; this is a bummer as I'd hoped to have contacts and calendars (using CalDAV and CardDAV

[2015-04-18 06:05] chises commented on #167
Update:
i wiped and remove all devices and users:
still same issue, here my webserver logs.

87.185.254.197 - user@tld.de [18/Apr/2015:08:03:13 +0200] "OPTIONS /Microsoft-Server-ActiveSync?User=michael.weber&DeviceId=2FE7A28D04CA5D3C7422E3C2AD95DA16&DeviceType=WP8 HTTP/1.1" 301 184 "-" "MSFT-WP/8.10.14219" "-"
87.185.254.197 - user@tld.de [18/Apr/2015:08:03:13 +0200] "OPTIONS /Microsoft-Server-Act

[2015-04-18 18:17] fmbiete commented on #180
I don't think combined is broken.
The error about the state not found tells me that your device was already synced, may a previous test.

Try it with a clean start:
Remove your account in the phone, and then remove the states from z-push.
[code]

Configure the phone again, and capture the log since the first request in WBXML level. That will help to catch any error, and follow the flow.

[2015-04-18 18:22] fmbiete commented on #167
And the last GET is again that takes my attention... Maybe Microsoft changed something in Windows Phone 8.1.

[2015-04-18 18:24] fmbiete commented on #179
Did you try to restart the phone after enabling the sync for all 3 backends?? Maybe the EAS process is stucked in some point and retrying the command.

[2015-04-18 18:40] tickerguy commented on #180
I removed the connection on the phone and also nuked it on z-push with ./z-push-admin.php -a remove -u karl-phone, then set it up again -- that's what produced that trace.

I'll try it again but this has been quite consistent....

[2015-04-18 19:27] tickerguy commented on #180
Here's a full trace starting from zero up to where it errors out.  There is nothing in the Apache error log nor any indication in the console log that the web server has segfaulted; the only thing I have in the transfer log is the POST requests (which repeat indefinitely) of the form....

192.168.1.21 - test [18/Apr/2015:14:15:38 -0500] "POST /Microsoft-Server-ActiveSync?Cmd=FolderSync&DeviceType=

[2015-04-18 19:36] tickerguy commented on #180
Hmmmm... I wonder if this is throwing up on Radicale as the back end for caldav and carddav?  I already have a material amount of infrastructure that uses that, but can install a parallel DaviCal implementation for testing (as I have a relatively large Postgres rDBMS running on the cluster I can attach to for this purpose.)

[2015-04-18 21:44] tickerguy commented on #180
I turned on DavIcal and am able to use it from my other clients, but even so with the "Combined" back end I get the same error.

As soon as I change it to "BackendIMAP" the errors disappear.

This is with the code as cloned as of a couple of days ago....

[2015-04-19 02:17] tickerguy commented on #180
OK this is something new....

I cleared everything on a spare device and then set up on a "test" account with ONLY IMAP enabled on the device -- but "Combined" as the back end.

I get authentication (successfully) against IMAP, CalDav and CardDav.  But then it fails here:

18/04/2015 21:00:24 [53031] [DEBUG] [test] [bb335324ec] Combined->Logon() success
18/04/2015 21:00:24 [53031] [DEBUG] [test] [

[2015-04-19 02:25] tickerguy commented on #180
More....

Leaving the Calendar backend removed from "combined" but allowing both IMap and CardDav (contacts) enabled, clearing everything (rm -rf /var/lib/z-push/*) along with removing the account on the phone and re-setting it to sync only emails and contacts works properly.

So whatever is going on it's in CalDav.  IMAP and CardDAV, if in combined, work properly.  Adding CalDav blows it up.

Hap

[2015-04-19 06:59] fmbiete commented on #180
Great work reducing the problem! :+1:

Try using the test script for caldav and carddav (this one only to be sure it works 100%). They will help to debug any problem with those backends and your config.
[code]
You must run them from the z-push root folder, after setting the correct configuration in them.

[2015-04-19 09:49] mardanx commented on #179
unfortunately it didn't help.

[2015-04-19 10:36] chises commented on #167
It already worked with my wp 8.1
i tried a factory & hard reset. I tried a other email account.
I tried to sync "no Content" (no email, no calendar, no Tasks) and i tried with email enabled.
Still same issue :-( i habe no idea anymore..

![wp_ss_20150419_0001](https://cloud.githubusercontent.com/assets/10805806/7219107/77e25c5a-e690-11e4-8594-6f9081b95164.png)
Nothing changed.

[2015-04-19 10:41] mardanx commented on #179
It looks like after installing some minor php/apache updates of my distro, the problem doesn't occur anymore.
Thank you for replying.

[2015-04-19 12:57] tickerguy commented on #180
Found the problem -- it appears that despite the awl package being loaded, which has the XMLElement.php include in it, the interpreter was not locating the include file in the z_caldav.php file included off the base.  I'm not sure why, because that doesn't make a lot of sense (and updating the global php.ini file didn't fix it either) but hand-coding the path to the include resolved the problem.

[2015-04-19 19:15] tickerguy commented on #180
Got a new one....

I have a CardDAV database with a couple hundred contacts in it that were loaded from a VCF file and configured as a pushed Exchange option.  A new contact entered from either my pc or the phone shows up in the repository, but EXISTING contacts do not get pushed, even when a hard-resync is done (or the account is removed and then re-added.)

19/04/2015 14:13:38 [47778] [DEBUG] [k

[2015-04-19 22:26] tickerguy commented on #180
Got it -- the problem is with Davical's import.  It is importing contact cards with ".ics" extensions, which Z-push doesn't thing belong in the sync set.  Reported back to Davical; closed here.

[2015-04-19 22:26] #180 closed

[2015-04-20 15:03] fmbiete commented on #179
ok, closing this as not a bug (at least in z-push)

[2015-04-20 15:03] #179 closed

[2015-04-20 15:40] tickerguy opened #182 "BackendIMAP ChangesSink mechanism ignores folder changes"
With IMAP as a back end make a folder namespace change from a native IMAP client (e.g. rename a folder, move a collection of folders into a directory, etc.)

Now go back to the phone after some period of time and select the folder view; you will see that the mobile's Exchange interface doesn't know that the folder change took place as the old names will still be present, but of course if you try t

[2015-04-20 16:42] fmbiete commented on #182
Indeed, you won't get folder changes until next foldersync. We will need to check them in the changesink.

[2015-04-20 17:06] jbonor commented on #179
My installetion was running fine and after I have updated it to master the same error happens to me. What distro/php/apache were you running before and after?

[2015-04-20 17:44] mardanx commented on #179
Got ubuntu 12.04 running and upgraded apache 2  amd64 2.2.22-1ubuntu1.7 -> 2.2.22-1ubuntu1.8
php5:amd64 5.3.10-1ubuntu3.15 -> 5.3.10-1ubuntu3.17

[2015-04-21 01:57] tickerguy opened #183 "Very large email in sync'd IMAP folder blows up Z-Push"
Ran into this today..... I sent a very large logfile via email to a client; ~5MB or so of data, from my desktop.  No problem, right?

Well, not on the desktop.  But on my mobile Z-Push kept trying to sync that since it was in the "Sent" folder and continually failed.  It never marked the item "unsyncable" but DID keep forcing resyncs which did some really ugly things to my phone's performance and

[2015-04-24 10:36] bax- commented on #177
amazing!

[2015-04-24 12:10] MykeulGit opened #184 "Outlook 2013, mailbox working OK for a while and big bug after some weeks (+minor UTF8)"
Hello,

I use z-push-contrib for a couple of month now, with Android (fully OK), with Firefox OS (fully OK) and Outlook 2013 (problems).

After release 1935, on Outlook 2013 everything works well at the beginning; Full synchronization is OK.
But after a couple of weeks, the mailbox starts to show folders in double, for example with the usual "Archives" folder, I get "Archives [1]" in addition, and

[2015-04-25 15:05] fmbiete commented on #183
You should look for error in your logs. I have received without problems messages bigger.
Also look at this php.ini param, maybe you should raise it:
[code]

[2015-04-25 15:09] fmbiete commented on #184
The sync problem I think that's because of Outlook 2013, I have never seen a so much bugged version. I will try to look into it, but there are already other problems using it.

I will check the encoding for the attachment names, and let you know.

Thanks for reporting!!

[2015-04-27 14:58] tickerguy commented on #183
I don't think that's what's going on -- it appears to be a time-related thing in that the time required to sync that specific message is long enough that it times out and thus never completes.

[2015-04-27 19:27] rastikw commented on #97
Excellent patch, thank you.

[2015-04-30 14:54] fmbiete commented on #183
Look then to this parameters:
[code]

That 300 should be big enough, so the mobile can complete the post.

[2015-04-30 15:19] #168 closed

[2015-04-30 17:08] fortiko opened #185 "Missing properties/variables in lib/ipc/interprocessstorage.php"
Unless I add these in lib/ipc/interprocessstorage.php:

[code]

I get the following error

[code]

[2015-05-01 07:35] fmbiete commented on #185
Thanks for reporting. The referenced commit should fix it.

[2015-05-01 07:35] #185 closed

[2015-05-01 08:30] benbeton commented on #71
on my web server I can't install the required pakage and only need "Backend Imap" no ICalendar ...
can I comment out some code the get rid of the problem?

thanks

[2015-05-01 11:56] tickerguy commented on #183
I'll play with this over the next few days; two of those three parameters are not in the config files anywhere and the last one has an attempt to set it to zero (unlimited) -- but, I believe that may be onto something as the Apache web server that's in front of all this does not permit unlimited cgi time limits and will abort connections that run for too long.

[2015-05-01 14:38] fmbiete commented on #71
@benbeton you will lose functionality and face errors.

If you cannot install the awl libs in your server, you can put it inside your z-push folder. For example:

1.- Copy the awl library inside z-push/awl
2.- Modify z-push/composer.json changing this line:
[code]
3.- Download and run composer to update your autoload files:
[code]

[2015-05-01 14:47] fmbiete commented on #183
No, those parameters are in the php.ini file of your server.

I don't use apache, but in your case something like this could work in a .htaccess or in your virtualhost/directory conf:
[code]

Maybe you will need to change something else in apache, so if someone out there knows a sane configuration, please share it and I will paste it in the INSTALL file for future reference :grin:

[2015-05-02 02:15] tickerguy commented on #183
Is it expected behavior that if your mobile is out of contact for a while (e.g. out of range of a cell signal) that emails that come in may NEVER sync to the mobile?  I was out of range intermittently for a few hours today and found two messages, new on the server, that were never sent over to the mobile.

[2015-05-02 13:30] fmbiete commented on #183
No, it's not expected. If the mobile is out of sync it should resync.
BUT, in my experience; some devices will take a lot of time to do it and others will need to reboot. It seems that the ActiveSync process will hang in the client side and will not contact again with the server (or will take a lot of time to do it). Enabling the access log in your nginx/apache will help you with that.

[2015-05-02 13:57] tickerguy commented on #183
The missing emails were in the middle; ones that came in during the time the mobile was out of range.  I continued to receive immediate updates on later messages (when I was back in range.)  I didn't know there were missing messages until I signed into my laptop later on which syncs over IMAP directly, and found three unread and new emails that were not on the mobile.

It looks like (without detai

[2015-05-03 08:19] benbeton commented on #71
@fmbiete at first, your version is working great thank you!!! what I did:
commented out the following in "include/iCalendar.php"

*require_once('XMLElement.php');
* Commented out, only needed by deprecated functions
*require_once('AwlQuery.php');
*/

that is working, but will definitely do your suggestion, thank you for your reply!

regards!

[2015-05-05 09:38] MykeulGit commented on #184
Hello,

Thank you. I deleted everything on the client after your message, and it just reappeared ... it is very impacting.
May I do something to help you investigate ?

Regards

[2015-05-07 12:36] chises commented on #167
Update:
I installed WP 10 Preview on my device and had the same error:
my phone told me about some Troubles and i could repair the active sync account and now it is working.
Logs:

07/05/2015 14:32:47 [ 2201] [INFO] [user] Version='SVN-trunk-r1935' method='OPTIONS' from='80.187.110.108' cmd='' getUser='user' devId='2fe7a28d04ca5d3c7422e3c2ad95da16' devType='WP'
07/05/2015 14:32:47 [ 2201] [INFO] [

[2015-05-08 15:06] tickerguy commented on #183
I have not been able to reproduce the missing emails despite a couple of attempts..... looks like some sort of glitch, but I'm not sure what caused it.

[2015-05-10 06:07] fmbiete commented on #167
In the docker folder you have a working config for php-fpm and nginx:

https://github.com/fmbiete/Z-Push-contrib/blob/master/docker/nginx/nginx.conf

/etc/php.ini
[code]

[2015-05-10 06:08] fmbiete commented on #167
I have reopened this, so if you can test again with the nginx config, please let us know.

[2015-05-10 06:12] fmbiete commented on #183
@tickerguy search into your logs for Sync operations against the Drafts folder (in WBXML you can identify the folder asked for). In my phone only Sent and Inbox are automatically synced, everything else is synced only when opened in the client.

[2015-05-11 01:14] tickerguy commented on #183
Oh it's being sync'd, and I can't shut it off in my phone either; it's a "no choice" checkbox on BlackBerry 10 (Drafts, Sent and Inbox are checked and cannot be unchecked.)  What surprises me is that the items that make it into Drafts on the desktop sync to the handset (ok in the rare event I have to abandon a message before sending it and then can pick it up on the handset) but what's odd is that

[2015-05-11 09:11] fmbiete commented on #183
Is your desktop client Outlook?? That client doesn't fully synchronize the special folders as Draft. If possible test with thunderbird or some webmail client.

[2015-05-11 10:40] tickerguy commented on #183
No, it's Thunderbird....

[2015-05-11 11:32] fmbiete commented on #184
@MykeulGit can you look if the referenced commits solve the problem with the wrong filename?

[2015-05-12 17:18] nightexcessive opened #186 "Class ImportChangesDiff contains 1 abstract method and must therefore be declared abstract"
I'm encountering the following error:
`PHP Fatal error:  Class ImportChangesDiff contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (IImportChanges::ImportMessageStarFlag) in /usr/share/webapps/z-push/lib/default/diffbackend/importchangesdiff.php on line 281`

I'm attempting to sync an Android phone using the combined backend (configured with IMAP

[2015-05-13 09:13] corradofiore commented on #186
Me too.  PHP 5.5.24, latest version of Z-push-contrib (downloaded a few minutes ago).

I can confirm it's related to moving of messages.  I'm seeing lines like these in the Z-push log:

`13/05/2015 11:06:52 [12624] [ERROR] [myuser@mydomain.tld] LoopDetection->ProcessLoopDetectionPreviousConnectionFailed(): Command 'MoveItems' at 13/05/2015 11:06:39 with pid '12651' terminated unexpectedly or is st

[2015-05-14 15:56] nightexcessive commented on #186
As this only happens to me when using the combined backend, switching to BackendIMAP has been a hotfix to keep mail syncing. Unfortunately, that isn't a permanent fix.

[2015-05-15 11:13] fmbiete commented on #182
Hi @tickerguy

The referenced commit should do the trick. Test it if you can and let me know if you find any problems.

[2015-05-15 11:23] fmbiete commented on #186
Hi @nightexcessive , @corradofiore ,

Sorry about that. the referenced commit should remove the remaining bits about the Star support without breaking that functionality.

[2015-05-15 15:48] tickerguy commented on #182
I will not be able to look at this for a couple of days but will as soon as I can reasonably get to it and report back here.  Thanks!

[2015-05-15 21:17] The70s opened #187 "Broken attachments - Error trying to auto-guess encoding for non-text parts"
Hi

After going from build 1920 to 1938 im getting troubles with displaying pdf attachments in emails, im getting encoding errors will occur and "StatusException: SyncCollections->CheckForChanges(): Timeout forced after 30s from 600s due to other process - code: 3 - file: /var/www/z-push/lib/core/synccollections.php:487"

I have removed the user completely and synced from scratch but still no go,

[2015-05-17 09:44] fmbiete commented on #187
Hi @The70s

The referenced commit should fix the problem. Let me know if it works or break something else.

Also take a look at the config.php option and be sure you have the adequate value set:
[code]

[2015-05-17 10:30] The70s commented on #187
Hi
Now the pdf are showing again, will test further, thanks
I ran the php testing and got that it shall be set to false, which i have done.

I keep getting these messages in z-push.log:
17/05/2015 12:27:24 [16589] [WARN] [rune@sandnestaxi.as] /var/www/z-push/lib/default/diffbackend/diffstate.php:185 Undefined index: mod (8)
17/05/2015 12:27:24 [16589] [WARN] [rune@sandnestaxi.as] /var/www/z-push/l

[2015-05-17 10:50] fmbiete commented on #187
For the undefined index do a z-push-admin.php remove -u user -d device and let the mobile to resynchronize again.

[2015-05-17 10:59] The70s commented on #187
When doing remove im getting this

 FatalMisconfigurationException: Not possible to write to the configured state directory. - code: 0 - file: /var/www/z-push/lib/default/filestatemachine.php:80

[2015-05-17 11:05] The70s commented on #187
I had to completely remove the user from the iPhone and add it again, but afterwards syncing again still getting
 /var/www/z-push/lib/default/diffbackend/diffstate.php:318 Undefined index: mod (8)

[2015-05-17 12:42] fmbiete commented on #187
I think you have a problem with your server configuration.

Look the permissions of your stats folders (/var/lib/z-push by default). Your php-fpm/apache user must have write permission there.

Also you can try the docker images included in the project, they will launch a sane/basic z-push installation, or at least give you some guide to configure your server.

[2015-05-17 13:39] The70s commented on #187
I have done all the docker install script settings and just for test i gave /var/lib/z-push chmod -r 777 and owner is www-data.
Also changed the php.ini settings to the docker like settings and rebooted the server, still the same error everytime i enter a folder in iphone/ipad.
I running ubuntu 14.04 updated as of today.

[2015-05-18 06:50] chises commented on #167
ok so i retested it with nginx as webserver.
i had to delete my account on the Windows phone and after that it is working. i cant believe it!
![ok](https://cloud.githubusercontent.com/assets/10805806/7675579/60e8ad04-fd3a-11e4-8a9c-790ffab87f4b.PNG)

I am using z-push with imap and owncloud backend (owncloud for caldav+carddav)
unfortunally i am unable to upload Textfile to provide my current ngin

[2015-05-18 06:50] #167 closed

[2015-05-18 14:29] TheoRettisch opened #188 "Android 5.0.2 - Deleting mail breaks sync"
Hi,

as soon as i delete an email on my android the whole sync stops working until i do a complete resync.
The last sync time in z-push admin also changes from last sync date to "never".
The error can be reproduce.

If i remember right there was a problem with the way android preserves mails for undoing the remove action. Seems there are still some issues.

[code]

[2015-05-19 10:08] MykeulGit commented on #184
Hello,

@fmbiete yes it seems to work better for wrong filename, I will do more tests and confirm.
Regarding the other problem, it is now VERY annoying, happening often and clearly I cannot deploy it to my users, it is very impacting, please tell me how I can help.
Your software is perfectly what I look for, I cannot resolve to stop using it. May I donate or something to help you ?

Regards

[2015-05-20 05:30] corradofiore commented on #103
I am experiencing the same problem here, using the Sendmail method.  As a workaround, I switched to SMTP and it's working fine.

[2015-05-22 13:18] MykeulGit opened #189 "Net/SMTP : SSL even without ssl://"
Hello,

I have a SMTP server which does not allow SSL/TLS.
In the config.php in imap backend, I set :
[code]

But even without "ssl://" before localhost, z-push-contrib connects with TLS on localhost.

I had to change this:
[code]

to this
[code]

I think it is a bug. I have no SSL enabled SMTP to test.

Regards

[2015-05-23 14:25] #103 closed

[2015-05-23 14:27] fmbiete commented on #103
Hi @corradofiore,

Yes, mail and sendmail methods had the same problem. I have moved the fix into the BackendIMAP so all three shared the same solution.

[2015-05-23 14:35] fmbiete commented on #189
Hi @MykeulGit ,

I don't think that's the case. I believe that your SMTP server (localhost) is announcing STARTTLS as supported, and the SMTP class is trying to use it.

Can you check it?
[code]
It should show a line with STARTTLS.

If that's the case you should disable it or configure it properly.
If not, let me know and we will look into it.

[2015-05-23 14:39] fmbiete commented on #184
Hi @MykeulGit ,
I accept sponsoring for features or fixes, you can contact me by email. But I'm not sure if those problems with Outlook 2013 are fixable at all.

[2015-05-23 14:41] fmbiete commented on #188
@TheoRettisch I would check the server configuration first; nginx/apache and php. I'm not having those errors with Android.

[2015-05-23 14:49] fmbiete commented on #187
@The70s , Can you test using Combined; only with IMAP configured? If the error dissapears we have a bug in IMAP importer/exporter. Remember to remove the data from server

[2015-05-23 15:27] The70s commented on #187
When you say remove data do you mean the /var/lib/z-push catalog or more ?

[2015-05-25 14:45] fmbiete commented on #187
The content of /var/lib/z-push

[2015-05-25 21:56] tickerguy commented on #182
It appears that there are several improvements in this regard and that particular problem is solved.

I've got a new potential issue here, however... will post a new comment.

[2015-05-25 21:56] #182 closed

[2015-05-25 22:01] tickerguy opened #190 "Possible mishandling of multipart messages (S/MIME in particular)"
I am not completely certain if this is a Z-Push problem or not, but this is what I'm seeing.

Client is a BlackBerry 10 Smartphone. When sending a S/MIME ENCRYPTED message I am getting the following:

Return-Path: <karl@denninger.net>
Received: from localhost (localhost [127.0.0.1])
	by fs.denninger.net (8.14.9/8.14.8) with ESMTP id t4PLsq44051445
	for <karl@denninger.net>; Mon, 25 May 2015 16:54:

[2015-05-26 00:02] TheoRettisch commented on #188
@fmbiete its apache and php-fpm. Im quite sure the server config is ok because with the zarafa z-push everything works fine. im not aware that your z-push needs some special config.

[2015-05-26 10:14] #187 closed

[2015-05-26 10:37] fmbiete commented on #190
WBXML log for the SendMail operations would help.
At first sight Z-Push sends S/MIME messages untouched, so the signature doesn't break, it could be possible that we are losing the base64 line breaks, but all the part should be sent.

[2015-05-26 10:47] fmbiete commented on #188
Look at the timeouts in both apache and php-fpm, they should be big enough. 900 seconds is a good value.
In your log, you can see how multiples processes run at the same time. If they are for the same devices it could signal a problem in the server, usually timeout on php execution.

[2015-05-26 12:39] tickerguy commented on #190
No, the client appears to never send the line breaks!

The thing is this -- a real Exchange server inserts them from the SAME client.  Z-push does not.

Here's the WEBXML log from a send with a signed message:

26/05/2015 07:29:48 [50654] [DEBUG] [karl] [bb2be4bede] -------- Start
26/05/2015 07:29:48 [50654] [ INFO] [karl] [bb2be4bede] Version='SVN-trunk-r1938' method='POST' from='192.168.1.21' cm

[2015-05-26 12:45] tickerguy commented on #190
And an encrypted email.  This one comes through with a completely BLANK message; the MIME piece (which contains the message) simply disappears, although I can see the (again, malformed) base64 component in the WebXML log.

26/05/2015 07:40:58 [56582] [DEBUG] [karl] [bb2be4bede] -------- Start
26/05/2015 07:40:58 [56582] [ INFO] [karl] [bb2be4bede] Version='SVN-trunk-r1938' method='POST' from='192.

[2015-05-26 15:04] MykeulGit commented on #189
Hello

You are right, my server advertise as STARTTLS.
I will try to configure it, sorry for disturbance

Regards

[2015-05-26 15:23] PhilPhonic opened #191 "Problem syncing mail with big attachment"
Hi,

I just updated my server from:
debian 7 -> debian 8
apache 2.2 -> apache 2.4

Now, I'm seeing errors in my z-push.log:

There are no errors in my apache-logs.
I'm missing 1 email in my sent folder on my mobile. I think this is what causes the problem. There's a big file attached to that email (~16M).

I tried switching my LOGLEVEL to WBXML, but now, nothing's working anymore.

Now there's an

[2015-05-26 21:07] tickerguy commented on #190
Ok, I fixed the S/MIME encrypted message problem.

Diff follows:

*** backend/imap/mime_encode.php.orig   Tue May 26 16:00:33 2015
--- backend/imap/mime_encode.php        Tue May 26 16:01:02 2015
***************
*** 287,293 ****
      $res = false;

      if (isset($message->ctype_primary) && isset($message->ctype_secondary)) {
!         if (($message->ctype_primary == "multipart" && $message->cty

[2015-05-26 21:34] tickerguy commented on #190
Ok, make that changed line this and then PGP encrypted works too..... (same problem; it's being "eaten" by Z-push)

    if (isset($message->ctype_primary) && isset($message->ctype_secondary)) {
        if (($message->ctype_primary == "multipart" && $message->ctype_secondary
 == "signed") || ($message->ctype_primary == "application" && $message->ctype_se
condary == "x-pkcs7-mime") || ($message->cty

[2015-05-27 01:45] norm2k opened #192 "Missing '&&'"
Hi there,
I think you are missing an && in line 177 of the file "lib/default/diffbackend/diffstate.php" just before the following: $this->syncstate[$iold]["mod"] != $new[$inew]["mod"]) {...
I think the entire line 177 should be:

if(isset($this->syncstate[$iold]["mod"]) && isset($new[$inew]["mod"]) && $this->syncstate[$iold]["mod"] != $new[$inew]["mod"]) {

[2015-05-27 06:37] fmbiete commented on #192
Yes, that's a bug. Thanks!!

[2015-05-27 06:37] #192 closed

[2015-05-27 06:44] fmbiete commented on #191
If you are sending a message with a big attachment from your mobile, make sure neither your apache/nginx nor php will timeout before it get complete. Usually that's the reason for the "pid XXX terminated unexpectedly"

Inside the docker folder you will find some configuration examples:

php.ini
[code]

nginx.conf
[code]

[2015-05-27 06:44] fmbiete commented on #186
Closed as fixed.

[2015-05-27 06:44] #186 closed

[2015-05-27 08:12] MykeulGit commented on #184
Hello @fmbiete,

Sorry I may be stupid but I do not find your email, can you tell me ?

Regards

[2015-05-27 11:56] tickerguy commented on #190
More results:

1. With the above change I can now send S/MIME and PGP from BB10 devices either signed, encrypted or both and they are transmitted unmolested.

2. I can read signed messages in either format.

3. HOWEVER, encrypted messages that are received fail to come through cleanly; the phone cannot decode the messages.  I know the format is ok because (1) a person on a real Exchange server to

[2015-05-27 15:01] PhilPhonic commented on #191
I'm not trying to send a mail. I'm just syncing mails to my mobile. And the big mail is inside the "Sent" folder.

I changed max_execution_time and max_input_time in php and TomeOut in apache2.
Now, everything syncs just fine.

Weird thing is: on my debian 7 with apache 2.2 installed, these settings were:
max_execution_time = 60 and max_input_time = 30 in php.

Thanks for your help.

Two more ques

[2015-05-27 18:39] tickerguy commented on #190
I have traced through the code and found that the SYNC_BODYPREFERENCE_MIME flag is indeed being checked and followed.

But, if I look at the msdn referenced link for the change in the "BODYPREFERENCE" (https://msdn.microsoft.com/en-us/library/ee220018(v=exchg.80).aspx) I see a MISSING stanza -- specifically, here, right in front of the message body webXML:

            <airsyncbase:Attachments>

[2015-05-29 21:15] tickerguy opened #193 "Mishandling of S/MIME Encrypted Messages"
When attempting to receive an encrypted message you get the following:

29/05/2015 16:00:44 [51151] [DEBUG] [karl] [bb2be4bede] BackendIMAP->StatMessage('3cda8ffc','5476')
29/05/2015 16:00:44 [51151] [DEBUG] [karl] [bb2be4bede] BackendIMAP->getImapIdFromFolderId('3cda8ffc') = INBOX
29/05/2015 16:00:44 [51151] [DEBUG] [karl] [bb2be4bede] BackendIMAP->GetMessage('3cda8ffc','5476')
29/05/2015 16:00:4

[2015-05-30 16:25] fmbiete commented on #189
No problem, happened to me too :laughing:

[2015-05-30 16:25] #189 closed

[2015-05-30 16:26] fmbiete commented on #184
fbiete at gmail dot com

[2015-05-30 16:34] fmbiete commented on #191
1. in config.php you need to have something like this. All the messages go to the same file.
[code]

2. Check:
- Your BackendIMAP config has the SENT folder configured correctly
- Your device syncs the SENT folder
- Your device tells z-push to SAVE_IN_SENT when sending a message (WBXML log will tell you this)

And about the error, you must search for any info about the crashed process, without any

[2015-05-30 17:07] fmbiete commented on #190
@tickerguy

Thanks for adding the new types for S/MIME and PGP content. I have put them into an array to make shorter the if sentence.

Also, big find for the S/MIME. :+1:

I think it should be enough to just change this line
[code]

To:
[code]

Because the attachment already should enter the code below
[code]

Can you test it, please?

[2015-05-30 18:21] tickerguy commented on #190
Nope -- that breaks all signed AND encrypted emails; a signed email has a normal message body.

It also doesn't solve the problem for encrypted emails; if I make that change I get this in the WEBXML for the message:

30/05/2015 13:02:59 [45450] [DEBUG] [karl] [bb2be4bede] BackendIMAP->GetMessage('3cda8ffc','5548')
30/05/2015 13:02:59 [45450] [DEBUG] [karl] [bb2be4bede] BackendIMAP->getImapIdFromFo

[2015-05-30 22:35] tickerguy commented on #190
This is where I'm running into trouble -- around line 1275 you have:

[code]
So I stick a debugging entry above that with:

    Zlog::Write(LOGLEVEL_ERROR, sprintf("Parts: [%s]", isset($message->parts)));

And what I get in the log when I send an S-MIME encrypted message is:

30/05/2015 17:30:57 [ 6785] [ERROR] [karl] Parts: []

In other words the code doesn't appear to be looking at the message a

[2015-05-30 22:49] tickerguy commented on #190
The problem appears to be in ~include/mimeDecode.php

[2015-05-31 06:38] PhilPhonic commented on #191
I changed my config.php as you described. as soon as i change the loglevel to LOGLEVEL_WBXML, no new entrys appear in z-push.log
when is witch back to LOGLEVEL_INFO, the logging continues again

[2015-05-31 06:59] PhilPhonic commented on #191
I finally found something:

This is very confusing. The Sent folder's name definately is "Sent". It's configured that way in Thunderbird ans works.

[2015-05-31 09:11] mikhail-guru opened #194 "Memory error"
Z-Push crashes when processing IMAP mail.

2015/05/31 11:55:00 [error] 15634#0: *2412 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Allowed memory size of 201326592 bytes exhausted (tried to allocate 20257532 bytes) in /usr/local/share/z-push-contrib/include/mimeDecode.php on line 811" while reading response header from upstream, client: x.x.x.x, server: xxx.xxx, request: "POST /Microsof

[2015-05-31 21:41] m-emelchenkov opened #195 "Found XXX changes"
Every time I open Inbox folder there is "01/06/2015 00:40:03 [ 7044] [INFO] [xxx@xxx.xxx] ExportChangesDiff->InitializeExporter(): Found 980 changes" in logs.

It re-syncs whole mailbox every time...

[2015-06-01 01:47] tigs001 commented on #188
I believe I am also experiencing this problem.  I am using iOS 8.3 and every time I delete a message, everything breaks until a full resync is completed.

I note in the above, that the BackendCombined is being used.  I have been running BackendIMAP (only) for years successfully, however recently started playing with BackendCombined.  I'm using the example configuration in the wiki page, https://gi

[2015-06-01 01:47] tickerguy commented on #190
OK, so here's what I Think I know at this point.

1. We need to push the message body (ONLY!) onto the attachment stack IF and only IF the message is encrypted.

2. The current code does not do this.

Therefore, I think we want something like.... this right in front of the existing code:

[code]
Where the "is_encrypted" test is in the mime_encode file much as is the "is_smime" test, but only trigg

[2015-06-01 09:08] TheoRettisch commented on #188
@tigs001: I can confirm your findings. After switching from BackendCombined to BackendIMAP E-Mail sync works and i can delete Mails.

@fmbiete: I tried every possible way to increase the PHP-FPM timeouts to 900 sec. but it makes no difference. Regarding to the multiple processes i found the following which indicates that the log output is no error:
https://forums.zarafa.com/showthread.php?9670-Z-P

[2015-06-01 21:43] tickerguy commented on #190
Back to mimeDecode.php; fixing this appears to have to happen in here since it appears that the attachment parts are all split out in that file.  What I think needs to happen is if you detect a S/MIME (or PGP Encrypted) message in mimeDecode.php the code needs to stuff the body (which contains the base64 encoded encrypted message) into the attachment array as a "part."

I'm having some trouble fol

[2015-06-02 02:36] tickerguy commented on #190
Ok, so I tried changing the code so that if it detects an encrypted message it outputs ONLY the encrypted base64 in the message body -- the headers still go through of course in the header stanzas.

I get this:

[code]
But the phone thinks it's signed, not an encrypted message.

So it looks like ActiveSync really does want the message BODY for an encrypted message to be delivered as an attachment.

[2015-06-03 16:16] chises opened #196 "Outlook 2010"
Hi,
is it possible with Outlook 2010 to use a Active Sync Account.
i can not get it work using the Outlook.com connector for Outlook 2010.

Thank!

[2015-06-03 22:46] tickerguy commented on #190
I am making excellent progress..... very, very close -- I have the software now stuffing the attachment and the XML is properly formatted for the phone to recognize what it is and what it has to do, but when the phone requests the attachment the system can't find it.

One more little "gotcha" and I think I'll have this fixed.

[2015-06-04 13:39] PhilPhonic commented on #191
now, with the new version, my inbox is broken. I deleted a message and now:

04/06/2015 15:38:34 [16233] [ERROR] [mail@domain.tld] Please check your logs for this PID and errors like PHP-Fatals or Apache segmentation faults and report your results to the Z-Push dev team.

can't find any PHP or apache errors :-/

[2015-06-04 14:36] tickerguy commented on #190
Ok, this is what I've done thus far.

In include/mimeDecode.php I have added the following stanza in front of the "default:" case:

[code]
This successfully stuffs the message body-cum-encrypted transmission into the attachment array and returns the proper name for it.   It also appears that the file reference is looking it up correctly because when referenced the length is right, which the code s

[2015-06-04 18:05] tickerguy commented on #190
Ok, now I'm truly lost.

I now have the system returning the data on the attachment...... but obviously something is missing as the phone still says it can't download it.  I suspect it's the name (smime.p7m) but really, to figure this out I probably need a WEBXML trace of a working transaction with an EAS server.  Any ideas on how to get one? (ignore all the debugging stuff; there's a lot of it in

[2015-06-04 19:03] tickerguy commented on #190
Here is a complete exchange of a S/MIME encrypted message.  Everything transfers but the phone says it couldn't download the message......

From what I can determine on the MSDN pages this is correct.  The message body is dropped as the protocol says it should be for an encrypted message but the phone doesn't like; it claims it can't download the data to read the encrypted part.  It does recognize

[2015-06-04 21:34] tickerguy commented on #190
The problem I have now may be related to multipart responses (in other words, my client wants 'em and won't "eat" one that's not)..... and if so that appears to be a base problem in the z-push code as from what I can determine they don't work right......

[2015-06-05 02:50] tickerguy commented on #190
Ok, my client is definitely asking for multipart:

[code]

And.... that's broken.  It appears that if the client asks for it you *can't* send back a non-multipart response (in other words it's not a request, it's a requirement although the wording is a bit ambiguous in https://msdn.microsoft.com/en-us/library/hh475669%28v=exchg.80%29.aspx), as from all indications the way I'm sending the data inli

[2015-06-06 10:27] jpfox156 opened #197 "Ping appears to ignore folder SyncParameters"
Hi Fmbiete,

While comparing the behaviour of z-push during Sync and Ping requests, I have noticed that Ping requests does not take into account mobile-set folder sync parameters, leading to greater server load.

My Setup:
I am using the combined backend with a CalDAV server (SOGo) to serve multiple calendars to a number of devices. One of those calendars contains 320 appointments over a time peri

[2015-06-06 17:49] fmbiete commented on #194
You must change a setting in your php.ini

[code]

Or bigger, the limit depends upon you maximum message size.

[2015-06-06 17:50] fmbiete commented on #195
You should look for errors in your log, put it in WBXML level to follow it.

[2015-06-06 17:53] mikhail-guru commented on #194
I can't afford 256+ MB on this server, limit is set to 192M. However, it's strange because I don't have super-large messages and after all I installed "docker" branch and it works well for me (only backported one function from "master" to fix one error).

Can we re-write iconv-related code to parse message in chunks or somehow this way (in fact, I did not compared these two branches, just use "doc

[2015-06-06 17:54] mikhail-guru commented on #195
You are right, it's the best way for me. Unfortunately, don't have free time right now but I hope to return to this issue next time I will work on the mail server where this problem exists. Also, it could be related to Issue #194. Thanks!

[2015-06-06 17:54] fmbiete commented on #188
@tigs001 Can you check if the delete operation succeded? Can you check with an Android device?

[2015-06-06 17:55] fmbiete commented on #196
No, it's not possible for Outlook 2010. Only with Outlook 2013 and there are a lot of knowed problems.

[2015-06-06 17:55] #196 closed

[2015-06-06 17:59] fmbiete commented on #191
In the latest versions the config for BackendIMAP changed. Make sure you use the last and have  configured correctly the IMAP folder settings.

I close this issue since I think that the original question was resolved.

[2015-06-06 17:59] #191 closed

[2015-06-06 18:07] fmbiete commented on #197
Can you check the log in WBXML level. I'm not sure that the Ping operation is receiving the limits.

[2015-06-06 18:11] fmbiete commented on #194
docker branch is obsolete, use it with care.
If you cannot afford to set more memory, and you are using php-fp; configure it so the workers will be restart after a few operations. So you won't lose any memory.

Also if you can program php you can searh for any memory leaks, I'm sure there are a few... :wink:

[2015-06-06 18:20] mikhail-guru commented on #194
Restarting workers is a great idea, thanks for this tip, maybe it will help. If don't — then I'll try to find the root of problem, sometime. Yes, I programming in PHP, I even tried to re-write this part for chunk processing but with no big success, the result was the same — it seems somewhere a memory leak which need to be profiled.

PS: You are doing a great work!

[2015-06-06 18:36] fmbiete commented on #190
@tickerguy
A possibility could be recreate the message if it's smime and it's not multipart.
I have checked the raw message (http://tools.ietf.org/tools/msglint/) and it's valid, so maybe blackberry doesn't understand it. Have you tried opening it using IMAP?

[2015-06-06 23:57] tickerguy commented on #190
The message is valid; I can read it using Thunderbird over IMAP.

The problem appears to be that:

1. BlackBerry devices ask for the Multipart response format (which is a *binary* response format, not Base64) for all GetAttachment "file" requests.  If you feed them a non-multipart response despite them asking for a multipart one they claim they can't open it.

and

2. The multipart response format

[2015-06-07 09:15] fmbiete commented on #188
@tigs001 @TheoRettisch

The referenced commit should fix this bug.

As the commit messages says, this is a temporary workaround. We need to rethink the BackendCombined Importer/Exporter, it's not flexible enough.

[2015-06-07 09:15] #188 closed

[2015-06-07 09:16] fmbiete commented on #170
Fixed

[2015-06-07 09:16] #170 closed

[2015-06-07 09:22] fmbiete commented on #197
Indeed, the Ping operation doesn't receive the cutoff dates.
So we will need to do this:

- Sync operation; receives the cutoff dates
- Store the cutoff date in persistent storage for every folder
- Ping operation; doesn't receive the cutoff dates
- Retrieve the cutoff dates from persistent storage

[2015-06-08 16:14] tickerguy commented on #190
I think I have a solid trace on what's going on....

[code]
Reference: https://msdn.microsoft.com/en-us/library/jj663353(v=exchg.80).aspx

The salient part of the transmission starts here:
[code]
Note that right after the "multipart" header there are two CR/LFs (correct) and THEN we are supposed to have the multipart header with the parts count and a metadata block (8 bytes) for each piece.  But..

[2015-06-08 17:17] fmbiete commented on #190
How about adding the missing bytes in the GetMessage function of BackendIMAP, I think that's what the Zarafa backend does.

You can find the last Zarafa Z-Push code in here: http://svn.z-push.net/listing.php?repname=Z-Push
I sync the code from time to time, to include their changes in here.

[2015-06-08 17:30] tickerguy commented on #190
Well right now if you look at that example there's two separate problems; the first is the missing header, but the second is that the WebXML is supposed to be sent down first, and it isn't -- all you get is the binary data itself (the actual attachment.)

In other words there should always be two parts to this return, the first being the WebXML and then the binary data immediately following it.

I

[2015-06-08 23:29] tickerguy commented on #190
Son of a.... the encoded WBXML is in there; I manually ripped apart the packets, and the file that is attached is second, right behind the encoded WBXML.  The problem is that the header is missing and to compute it I need the offsets, which means I need the length of the WBXML that is in the buffer.  This also blows up attachments (not just SMIME) if the client requests multipart (and all BB10 dev

[2015-06-09 00:29] tickerguy commented on #190
Errrrrr...... Crap.

I found the header -- the WBXML portion is emitted *first*!

Here's the salient piece:
[code]
Ok, so after the 0d0a0d0a we have the WBXML stanza (I cased out the bogus WBXML flag.)  But.... it's not supposed to be here.  The first part of it is here and it continues...

[code]
This line starting with the 02000000 piece is the multipart header!  It's valid, but in the wrong pla

[2015-06-09 01:24] tickerguy commented on #190
Got it.

OK, here's the deal -- this may not apply to all of the versions of php and apache out there, but it does mine.

First, the 0x03 and other headers MUST be emitted (Microsoft's documentation is WRONG!) for a multipart response.  The problem is that the ob_start() call is missing and the parameters I'd expect further down don't work.

This is what I did:
[code]

Then in processMultipart() I

[2015-06-09 11:18] jpfox156 commented on #197
Thanks Fmbiete,

Hmm. The fix is a bit more complicated than i expected. Maybe the problem needs to be looked at differently; how do i limit the need for undertaking statmessages during ping events altogether? How should the sync collection specification play into this? As I'm using SOGo server, my CALDAV_SUPPORTS_SYNC is set to true, which would (from my preliminary googling) suggest that zpush s

[2015-06-09 16:46] tickerguy commented on #190
Changes to mimeDecode.php to support the above; these enable both S/MIME and PGP/Encrypted to work with BB10.  Note that PGP-MIME/multipart, however (as generated by Thunderbird) is not readable by BB10; this appears to be a shortcoming of the BB10 phone as the difference in the headers is quite minor.  I will be reporting that to BlackBerry as there's no reason it shouldn't eat it.

Works (sent f

[2015-06-10 14:40] tickerguy opened #198 "GetBodyPreferenceBestMatch() is back in 1995"
This is just flat wrong in 2015.  If there are multiple formats available you most-certainly do not wish to use HTML over MIME.

The reason is this -- it is not at all infrequent for a message to be delivered with multiple parts and minimal or near-nothing in the HTML or PLAIN section.  Preferring HTML over MIME results in some messages delivered to the handheld being either severely-crippled or e

[2015-06-10 23:18] tickerguy opened #199 "BCC-only causes meltdown in BB10 devices"
The phrase "undisclosed-recipients:;" and its derivatives, which are not valid RFC-822 addresses, causes the parser in Mail_RFC822->parseAddressList to return nothing.

This in turn causes the "To" WBXML stanza to be omitted, and BB10 handsets, when that is omitted, go bananas and lock up in their mail client.  I cannot find documentation from Microsoft on whether this should be a fatal error or n

[2015-06-10 23:20] tickerguy commented on #198
This is not fully effective; it is functional if you resync but not on initial if you have the device set to get other than the full message (e.g. headers only) -- I am still working this issue.

[2015-06-11 04:21] norm2k opened #200 "TopCollectorRedis"
I was getting:
PHP Fatal error:  Access to undeclared static property: TopCollectorRedis::$redis in lib/ipc/redis/TopCollectorRedis.php on line 88 in my PHP logs.
I changed line 88 to:
static::$redis->setex($this->key,$exp,serialize($this->latest));
but I am not if that is the best way to solve that error.  Also, I think you will need at least PHP 5.4 for this.
After my change, the error has not r

[2015-06-11 05:25] norm2k commented on #200
I was wrong.  The Error returned.  I am no longer using redis and now my mail works normally.  I was missing chunks of email while using redis and the above mentioned error was the only thing I could find.

[2015-06-11 23:00] tickerguy opened #201 "BodyPreference set to plain when HTML Available"
On my BB10 device I am getting plain-text CONVERTED bodies (basically HTML with the tags streipped) instead of HTML when the sender is a BlackBerry device -- which unless told otherwise will send ONLY HTML email (no plain text at all.)

I see where the conversion is happening as if "$plainBody" is null it gets converted, but I do not understand why $bpReturnType is SYNC_BODYPREFERENCE_PLAIN in tha

[2015-06-12 00:14] tickerguy commented on #201
Scratch this I need to refactor it.. it breaks S/Mime

[2015-06-12 00:14] #201 closed

[2015-06-12 03:29] tigs001 commented on #188
@fmblete, I have installed the update and been running the system for several hours now.  My specific test that failed previously do not fail any more.  So far everything is working well.

For information, I am using an iPhone 5s, iOS 8.3, and am using the BackendCombined with IMAP (to Dovecot), CardDAV and CalDAV (to SOGo) enabled.

Many thanks for your efforts in fixing this issue.

[2015-06-14 07:07] fmbiete commented on #197
Ping it's the magic push mechanism of ActiveSync. Shortly it does something like this:

1. Device Pings the server: I will be listening for XXX seconds, so if anything comes up let me know
2. Server does a initial lookup in the backends. We get all the messages/calendar/contacts/object IDs to "create" a initial state in the process memory.
3. Server checks for new/changed objects using SYNC (if av

[2015-06-14 08:02] fmbiete commented on #190
Hi @tickerguy

Thank you very much for you hard work. I have pushed your changes with some modifications:

But it's not. Look at /index.php:47
We always do a ob_start, but we are missing the flag PHP_OUTPUT_HANDLER_STDFLAGS for PHP >=5.4

Great finding. Doing get_flush is wrong, we don't want to disable the buffer, only get the content and clean it (ob_get_clean does both).

I have also update mim

[2015-06-14 08:59] fmbiete commented on #199
That cannot be patched in imap.php. The address is being ommited in the SyncObject check for email object.

In the referenced commit I have added a check for empty groups (undisclosed-recipients:;), since they are valids. I have also added support to the backendIMAP to work with groups.

[2015-06-14 09:08] fmbiete commented on #198
I'm not sure about this change, by default.
Some carriers charges extra after the accorded bandwidth is used, even on corporate accounts. MIME will be a bad choice in those cases, so maybe this should be a global option and let the admin choose.

[2015-06-14 09:11] fmbiete commented on #200
Did you install the PHP-Redis extension? Do you have the last code?
I think to remember that error happened 1 or 2 months ago...

[2015-06-14 12:07] tickerguy commented on #198
I refactored the entire "choose which format" code in imap.php a few days ago; it is running well now, and that included a config.php option for it.  I'll send up a diff either later today or tomorrow.

[2015-06-14 17:16] norm2k opened #203 "Extra } in mime_encode.php"
There is an extra } on line 311 in:
/usr/share/z-push-master/backend/imap/mime_encode.php

:)

[2015-06-14 19:22] norm2k opened #204 "is_smime undefined"
ERROR:
/usr/share/z-push-master/backend/imap/mime_encode.php:309 Use of undefined constant is_smime - assumed 'is_smime'

I Think line 309 should be:
    if (is_smime($message) && !($message->ctype_primary == "multipart" && $message->ctype_secondary == "signed")) {

[2015-06-14 19:27] norm2k opened #205 "possible imap.php add_address_to_list problem"
This prevents me from receiving new email on my smart phone...
ERROR:
PHP Fatal error:  Call to undefined function add_address_to_list() in /usr/share/z-push-master/backend/imap/imap.php on line 1262

I don't think my environment like the function add_address_to_list with the $addresses variable as a reference.  I am on PHP 5.4.41-0+deb7u1

[2015-06-15 00:43] iheper opened #206 "Most of the Samsung Note3 phone can not sync the cal from server to phone."
We are using z-push 2.2.0 for sync in our groupoffice system (www.group-office.com).
Most of the Samsung Note3 phone can not sync the cal from the group-office server to the phone.
when I check the log, it shows :
Message was causing loop(2)......

Do you have any suggestions?

[2015-06-15 11:55] tickerguy commented on #198
Here is my refactor on the body component selection code:
[code]

And in mime_encode.php:
[code]

The heuristic is:

1. If "DEFAULT_MIME_ON" is defined in the config.php file AND the message is a multipart one OR we have an S_MIME message (of any sort) then we transmit it in MIME format.

2. If those two tests fail then we have either HTML or PLAIN.  If there's a HTML body prefer it always; a *con

[2015-06-15 14:35] fmbiete commented on #203
Thanks! fixed in 63838224a3648e709b70a51945c291ff30b987a9

[2015-06-15 14:35] #203 closed

[2015-06-15 14:36] fmbiete commented on #205
Fixed in e047f69251b5171ddc22146f85e64ee4f816933d

[2015-06-15 14:36] #205 closed

[2015-06-15 14:38] fmbiete commented on #204
Of course!! Fixed.

[2015-06-15 14:38] #204 closed

[2015-06-15 14:45] fmbiete commented on #206
When a message is causing a loop the reason can be:

1. Server process is dying before sending the message, but after updating the loop counter.
Check for errors in your php-fpm/nginx/apache logs (for example memory exhausted messages)
2. Server send correctly the message, but client thinks it is not valid.
Check your WBXML logs and search for something that calls your attention. This can be very

[2015-06-15 14:47] fmbiete commented on #199
At least for Android, this fixes the problem. I see "undisclosed-recipients" in my client.

Feel free to reopen if this doesn't work for BB10.

[2015-06-15 14:47] #199 closed

[2015-06-15 14:50] #193 closed

[2015-06-15 15:15] tickerguy commented on #199
Nope:

[code]

The "To" stanza is still missing and the log indicates it was removed as the "undisclosed-recipients:;" address was invalid.

[2015-06-15 15:41] fmbiete commented on #199
Sorry, I forgot to commit the last change. We need to readd the empty group delimiter, so the check won't fail.

[2015-06-15 15:47] tickerguy commented on #198
Testing now... :)

[2015-06-15 15:49] tickerguy commented on #190
Commit looks good thus far; will let it run for a day or so and see if it continues to perform.

[2015-06-15 21:36] tickerguy opened #207 "New changes broke PGP Encrypted and encrypted message body truncation"
The problem is in include/mimeDecode.php; there was a special-=case inserted for multipart/signed and multipart/encrypted.  Those should NOT be present; they should be treated exactly as the below multipart/* entries.

The below diff fixes it; in other words, just remove those lines.

[code]

In addition the body truncation for encrypted messages was damaged, which causes excessive data transmissi

[2015-06-16 05:00] norm2k commented on #200
Yes, I have php-redis ext and the latest code.  I do not get my all email in my inbox if I use Redis.  I am currently using Redis 3.0.1...

[2015-06-16 08:27] chises opened #208 "icc not configured"
Hi all,
i am using BackendCombined
IMAP+CALDAV+CARDAV.

if i delete / create a IMAP Folder i get These line in my errorlog.
16/06/2015 10:22:02 [ 1406] [ERROR] [test@domain.de] [ac571db412e642529ad01b7dd7d72a31] ImportChangesCombined->Config() icc not configured

Here is my imap Folder test Output.
root@debian:/var/www/z-push/sql# php ../testing/testing-imap_folder_list.php
Evaluating Trash
Evalua

[2015-06-16 11:47] tickerguy commented on #198
Looks good....

[2015-06-16 11:47] #198 closed

[2015-06-16 11:49] tickerguy commented on #190
The above broke PGP/Encrypted messages.

The problem is in include/mimeDecode.php; there was a special-=case inserted for multipart/signed and multipart/encrypted.  Those should NOT be present; they should be treated exactly as the below multipart/* entries (and were in the previous rev.)

The below diff fixes it; in other words, just remove those lines.

[code]

In addition the body truncation fo

[2015-06-16 11:49] tickerguy commented on #207
Moved to the previous bug since it's part of the same revision process.

[2015-06-16 11:49] #207 closed

[2015-06-16 19:29] tickerguy opened #209 "IMAP(GetMessage): Use name attribute found in part for inlined attachments"
Diff for imap.c:

[code]

And in support of this we have to get the filename when the mime part is decoded; that is done in include/mimeDecode.php:

[code]

Now if there is a filename specified in the MIME header it is returned in the structure and the imap.php code uses it for the attachment.  If it's missing then a "best guess" using mime.types is made as before.

[2015-06-17 03:26] jpfox156 commented on #197
Thanks Fmbiete,

So, to test my understanding against the debug logs above...
Step 1 --> HandlePing() is called
Step 2 --> ChangesSink is initialised; SQL State Machine is queried; SinkParameters are setup (without the cached information necessary to filter by time period); MessageDiff engine initialised.
Step 3 --> BackendCalDav calls GetMessageList(); list of object ID's and etags returned; then

[2015-06-21 15:15] fmbiete commented on #208
Yes, I believe that functionality is not complete at the moment.

[2015-06-21 15:45] fmbiete commented on #209
Thanks a lot!!

[2015-06-21 15:45] #209 closed

[2015-06-21 15:54] fmbiete commented on #197
GetMessageList returns a collection of the result returned by StatMessage.
In fact, StatMessage doesn't retrieve the "events" data from the DAV server, since it would be very slow and it's not needed there. It only gets the "e-tag" used as the unique identifier of the event.

You only request the data in the GetMessage, and that operation is over one element each time.

[2015-06-22 15:10] chises commented on #208
thank you @fmbiete

other questions: email sent/receive is fine. if i create imap Folder via IMAP Connections everything is fine. But if i try to create These Folder with ActiveSync, the Folder is not created..i can not see any issues.

using Debian +dovecot:

// Since I know you won't configure this, I will raise an error unless you do.
// When configured set this to true to remove the error
defi

[2015-06-22 20:47] norm2k commented on #200
Just out of curiosity, I upgraded php-redis module to the current latest build, 2.2.7, and there are no more errors in my php log file while using Redis.  Seems to be working as expected now.

[2015-06-24 14:18] jbacksch opened #210 "mime.types with Apache's open_basedir restriction"
When using the Apache's open_basedir restriction to limit the access of php scripts to certain directories, the mime.types for the IMAP backend should be configurable, too, and not fixed to /etc/mime.types.

[2015-06-24 19:50] norm2k commented on #200
I was wrong.  Still getting the error mentioned above.

[2015-06-25 03:14] tickerguy commented on #210
Why not symlink it?

[2015-06-25 03:14] tickerguy commented on #190
This appears to be fixed.

[2015-06-25 03:14] #190 closed

[2015-06-26 05:18] norm2k opened #211 "iPhone receives HTML instead of MIME - Bad bodyPreference choice"
I am getting a lot of the following error in my debug log:
Mail_mimeDecode()::_autoconvert_encoding(): Text cannot be correctly decoded, using original text. This will be ok if the part is not text, otherwise expect encoding errors
This is causing most of my HTML emails to display at plain text on my iPhone.
I am currently using the latest code with PHP 5.4.41-0+deb7u1.
Anyone have any tips to get

[2015-06-28 07:29] fmbiete commented on #200
I'm using redis and not seeing that error.
Could you double check that your version is up to date with master branch, please?

What version of PHP are you using?

Try to change this line in lib/ipc/redis/InterProcessRedis.php
[code]
to
[code]

[2015-06-28 07:37] fmbiete commented on #210
In a selinux system this also could cause an error.

Parametrized with default value to /etc/mime.types

[2015-06-28 07:37] #210 closed

[2015-06-28 07:44] fmbiete commented on #211
I think this is related to #202

[2015-06-29 16:53] tickerguy opened #213 "Device fails to properly display delivery error reports"
The mimeDecode.php function only grabs the attachments properly if the call to it has _rfc822_bodies set.  But this flag is not set in the case where a status response is found (typically) so you get zero-length attachments which of course cannot be displayed.  In addition they are not flagged inline but should be (a status report by definition is inline) so the device mishandles the attachment ty

[2015-06-29 20:18] tickerguy commented on #208
This by the way becomes a HUGE problem if you set up a new account and there is no "Trash" folder on the server; when you go to delete a message it gets HARD deleted instead because the Trash folder doesn't exist.....

[2015-06-30 05:06] chises commented on #208
ah nice, thanks. now i know why i cant create Folders.. :)
can someone say if/ when this will be implemented. acutally i am working on my exam, so i can not ivestigate any time. i am sorry :-(
do we have to wait for official z-push to implement this?

[2015-06-30 11:05] tickerguy commented on #208
I may hack on this at some point..... I tend to focus a bit of energy on things when they annoy me sufficiently :-)

[2015-07-05 02:40] fmbiete commented on #213
I think it's better to set the rfc822_bodies param to true in the BackendIMAP.
Thank you very much for your hard work!!!

[2015-07-05 02:40] #213 closed

[2015-07-08 17:24] norm2k commented on #200
I have been running PHP5.6.10 for over a week and the error has not returned.  Also, things are working as expected.  Don't know if that is sufficient to close this out.  I was previously using php5.4 (from the Debian Wheezy repo) which caused the errors mentioned above..

[2015-07-08 18:12] fmbiete commented on #200
I'm also running PHP 5.6, so maybe is a 5.4 issue with multiple extends levels. I will change the title and left it open for a while in case someone using 5.4 can reproduce it.

Thanks!!

[2015-07-08 19:47] PhilPhonic commented on #211
same problem here with commit 471cefb874af3ce53468313c1e116b28c3ddbf52

[2015-07-09 16:13] fmbiete commented on #211
@PhilPhonic , @norm2k
Do you remember the last version that works in your iPhone?

[2015-07-09 16:45] danielpo commented on #211
Html email started working properly in my iphone again after checking out cc48500.
I also tried to checkout dcc5960, but with that one, the problem appeared again.

[2015-07-09 17:04] fmbiete commented on #211
Thanks!! that reduces the problem, a bit.

Can you check if putting the include/mimeDecode.php file from cc48500 in your dcc5960 works?

[2015-07-09 17:14] danielpo commented on #211
I just tried using  include/mimeDecode.php from cc84500, but it didn't work unfortunately. The same error as before

[2015-07-09 18:01] PhilPhonic commented on #211
The last version I used was 290b0e641fcee4b6536832a03a00eb1d3f296241 I'm quite sure this version worked.
I can't exactly tell which version was the last one working, because I directly migrated to 471cefb874af3ce53468313c1e116b28c3ddbf52

[2015-07-11 16:58] fmbiete commented on #211
Could you check again with the last version, please?

[2015-07-12 07:19] PhilPhonic commented on #211
I just upgraded to the lastest version, but html mails are still displayed as plaintext on my iPhone.

[2015-07-12 07:52] fmbiete commented on #211
Can you post this log lines (DEBUG level)?
[code]

[2015-07-12 07:57] PhilPhonic commented on #211
There you go:

[2015-07-12 10:34] fmbiete commented on #211
There is also a line like this one:
[code]

The third parameter is a list of supported formats by the mobile.
* 1 -> Plain text
* 2 -> HTML
* 3 -> RTF
* 4 -> MIME

For example, my Nexus 4 only tells it support HTML, a Sony Xperi tell 2 and 1...

[2015-07-12 10:55] fmbiete commented on #211
@PhilPhonic can you tell me also if the backend/imap/config.php defined is false?
[code]

By default is false, but I think we should change it to true, otherwise iPhone would fail... And the last fixes in BackendIMAP should cover the Android device, that don't support MIME.

[2015-07-12 11:22] danielpo commented on #211
When setting that to true, html emails shows correctly,  however, the small description under each email shown in the inbox is still html code.

[2015-07-12 12:00] PhilPhonic commented on #211
The DEBUG Log sais it supports Plain text & HTML:

Now i set:

HTML is working now.

@danielpo what do you mean by "small description under each email"?

[2015-07-12 12:03] fmbiete commented on #211
It means the preview showed in the message list windows.

The last commit should fix the problem and it also removes the MAIL_PREFER_MIME_TYPE option; BackendIMAP will choose by us.

[2015-07-12 12:08] fmbiete commented on #211
Sorry, I have removed too much code. The previous commit reintroduced the problem, this one should fix it.

[2015-07-12 21:40] tickerguy opened #214 "Suggestion: Change config.php to config.php.orig"
This would permit a copy-over on a new version (after checking for changes in the config file that might screw you) without re-configuring everything.

MOST of the time this is ok; it only bites you if a required option shows up that would otherwise not be set, and that can be cased in the code.

Thoughts?

[2015-07-13 14:46] fmbiete commented on #214
#66 and #2 Already proposed that

In that moment my opinion was to follow upstream and don't rename the file, but using docker I have found this approach too rigid. So maybe it's time to revisit the topic.

[2015-07-17 13:02] gborysiak opened #215 "Can not send mail with Iphone 5 ( IOS 8.4)"
Hi,

I configured z-push with dovecot as IMAP server and postfix for SMTP.
I configured my mailbox as exchange server on my iphone without problem.
But I can fetch email but sending is not working.

In log file, I get the following error  [SMTP:  (code: 554, response: 5.5.1 Error: no valid recipients)

PS :
I tested successfully send email using testing-imap_smtp.php script to define the configura

[2015-07-17 16:24] fmbiete commented on #215
Hi @gborysiak

Put your log in WBXML level and try to send a message. In the log you will see the message that you try to send, and most importantly the TO, CC headers.
Also you will have the original message as sent from your iPhone and compare against the final.

Are they empty? Are they equals?

[2015-07-18 02:00] norm2k commented on #211
I have been using this new code for over 5 days and all of my email (and preview) have been displayed correctly so far.  Thanks for your hard work @fmbiete I really appreciate it!

[2015-07-18 14:00] fmbiete commented on #211
Thanks for letting me know!!
I close this, but if someone continues having problems feel free to reopen it.

[2015-07-19 21:30] mdave commented on #211
Hi -- I'm using 3f9f12c and still seeing the preview appear in HTML, although the messages themselves are fine. I'm on iOS 8.4.

[2015-07-20 07:03] gborysiak commented on #215
Hi @fmbiete

I configured WBXML log level for my user but I can not find any XML about headers.

20/07/2015 09:02:30 [20173] [DEBUG] [a@b.com] [applc32jgu3fdtwg] BackendIMAP->SendMail(): RFC822: 1 bytes  forward-id: 'false' reply-id: 'false'
parent-id: 'false' SaveInSent: 'true' ReplaceMIME: 'false'
20/07/2015 09:02:30 [20173] [WBXML] [a@b.com] [applc32jgu3fdtwg] RFC822: ^@
20/07/2015 09:02:30 [20

[2015-07-20 15:01] fmbiete commented on #215
The full message that your phone is passing to the server is "^@".
That message must be truncated at the nginx/apache level or your client is sending a broken message.

You don't have from, or to, or subject, or... well, you don't have message, so everything will fail.

Take another look at your configs (in the wiki pages and the docker folder have examples).

[2015-07-20 15:03] fmbiete commented on #211
@mdave Can you paste some WBXML logs for a GetMessage?

[2015-07-20 15:47] gborysiak commented on #215
Hi,

I checked the configuration and find no error. I use another exchange account with an office365 server without problem.

Which parameter in apache/php could truncate message ?

[2015-07-20 16:09] norm2k commented on #211
I had a similar problem.  I am on IOS 8.1.  I had to remove the email profile from the phone and add it agin.  That solved the problem for me.  You could also just use z-push-admin.php to do the same thing without having to reconfigure your email settings...

[2015-07-20 16:31] mdave commented on #211
@fmbiete Okay, here is the entry from the log. I've extracted the bit that others above seem to have supplied:

[code]

@norm2k I had assumed something similar might work. I have two devices on one account -- don't know if that should make a difference. In any case, just now I nuked both, ran the z-push-admin.php script to junk the state data too and tried again, but no dice for me.

[2015-07-20 21:17] gborysiak commented on #215
ok I solve the problem. I made a mistake when configuring apache alias.
i forget to add index.php ....

[2015-07-20 21:17] #215 closed

[2015-07-22 02:16] chinenual opened #216 "Text cannot be correctly decoded"
Mail is causing MIME parse problems:

[code]

Snippet from the mail header:

[code]

If this is not easily fixable, how can I find out what is wrong with the mail and causing parse problems? (it is machine-generated and I might be able to change the way it is produced to work-around the z-push bug).

Thanks!

[2015-07-22 21:13] mdave commented on #211
After observing emails over the last 2 days, it seems that the summaries for everything that's been received after I posted my reply here seem to be fine. I guess there is a cache either on the phone/iPad or on my z-push installation that I didn't nuke properly. I'd suggest, since it seems to be working for others, that you could close this and I will update in case something breaks later on, but

[2015-08-01 11:48] benbeton opened #217 "Documentation - Update path"
Hi,

I'm using this a few months now and it is working great. A few times in the past days I thought about keeping the installation up to date. So I search in the Doc, but there is now documentation how to update the installation.

can anyone describe the necessary steps? Thx!

[2015-08-02 14:16] fmbiete commented on #216
Be careful when creating messages encoded as quoted-printable. It's easier to remove the "Content-Transfer-Encoding" header and using normal text. You already said the text is UTF-8, so every should show correctly.

[2015-08-02 14:17] fmbiete commented on #211
ok. Let me know if it happens again.

[2015-08-02 14:17] #211 closed

[2015-08-02 14:21] fmbiete commented on #217
Keeping the installation up to date is pretty easy, although a bit time consuming.

1. Get the last code in a temporal folder
2. Diff config.php files (there is one config in the root folder and in the folder of each backend you use). Apply your changes
3. Make a backup of your z-push folder
4. Move your temporal folder to the z-push folder

[2015-08-02 14:21] #217 closed

[2015-08-03 12:30] mporcheron commented on #217
For reference: I've been doing this using git rebasing (with a branch for personal configuration changes) as this makes it a lot less manual.

[2015-08-03 13:16] benbeton commented on #217
sounds interesting, how to achieve, that all files except the config are update on the personal branch?

[2015-08-03 14:43] mporcheron commented on #217
##### Setup
1. [Clone the repository to your web server](https://git-scm.com/book/en/v2/Git-Basics-Getting-a-Git-Repository)
2. `git checkout -b config` to create the new _config_ branch with the local configuration

##### Updating
1. Backup the local repository (or even better: also do this on a non-live copy)
2. `git checkout master`
3. `git pull origin master` to update the local master branch

[2015-08-03 15:53] fmbiete commented on #217
@mporcheron Kudos!! :100:

Do you mind if I put those in a INSTALL_UPDATE_FROM_GIT file?

[2015-08-03 17:42] mporcheron commented on #217
Of course not 👍🏻

[2015-08-05 06:12] fmbiete commented on #108
Hi @marknmel , @polytan02 , @gregkster

Drenalina (www.drenalina.com) has kindly sponsored the implementation of those missing features. So it's testing time for "meetings".

[2015-08-05 06:12] fmbiete commented on #136
Hi @polytan02

Drenalina (www.drenalina.com) has kindly sponsored the implementation of those missing features. So it's testing time for "meetings".

[2015-08-05 06:13] fmbiete commented on #131
Hi @zero-one-devteam , @polytan02

Drenalina (www.drenalina.com) has kindly sponsored the implementation of those missing features. So it's testing time for "meetings".

[2015-08-05 06:48] polytan02 commented on #136
No problem, I can manage to have a treating server and participate to tests.
Just let me know ;)

[2015-08-05 06:49] polytan02 commented on #131
I can manage to have a test server to participate.

I have only BB10 phones.

[2015-08-05 21:01] milch opened #218 "Undefined variable: htmlBody (8)"
Hi,

I configured `BackendIMAP` to use SMTP to send mails. Unfortunately, I get the following errors in the log when sending an email:

[code]

The Sent folder is set to the same value as in my `dovecot` configuration. Any ideas?

[2015-08-05 21:01] milch commented on #218
I should add that the mails arrive at the recipient, but the content is empty.

[2015-08-06 16:05] fmbiete commented on #131
@polytan02 That would be wonderful. I don't have BB10.

You can put the last code in your server and test it. Let me know if you find any problems.

Thanks!!

[2015-08-06 16:10] fmbiete commented on #218
Sorry, I left the wrong variable name after refactoring that function.

The referenced commit should fix it.

[2015-08-06 16:50] polytan02 commented on #108
Is the function available to try ?

[2015-08-07 05:50] fmbiete commented on #108
Yes, you have it available in the master branch.

[2015-08-08 09:51] polytan02 commented on #108
Hi,

I have done initial tests with a test server and test account and it seems to work. Good work guys ! :)

Now I will deploy this on my working server and try it over a week or so with a real email account.
We will see if it works on a longer run then.

I have a few errors on the log that I need to look at.

[2015-08-09 15:14] PhilPhonic opened #219 "smtp error with SSL"
Hi,

I'm unable to send mails via backend-combined /w imap and smtp.
Any ideas regarding this problem?

This is my /var/log/mail.log:

This is my z-push.log:

[2015-08-10 14:26] fmbiete commented on #219
Your log is showing a certificate verification error. So the problem is a certificate not valid, not matching your server name or a non trusted CA.
Use "verify_peer" => false, "verify_peer_name" => false to bypass it.

[2015-08-10 14:46] PhilPhonic commented on #219
That's weird. I'm quite sure the certificates are valid..
Does "SSL3_GET_SERVER_CERTIFICATE" mean, php is trying to use SSL3? Because SSL3 is rejected by my mailserver.

[2015-08-10 15:02] fmbiete commented on #219
That message will also appear when using TLS 1.x, so that shouldn't be a problem.

Try setting  either the openssl.cafile or openssl.capath parameters in your php.ini to your CA file. Maybe it's trusted in web browsers but not yet in the system (for example Startcom).

[2015-08-10 16:39] PhilPhonic commented on #219
openssl.cafile is already set. it is a self signed cert.

[2015-08-10 21:10] polytan02 opened #220 "Debian php-pecl-memprof .deb not available"
``no memory prolier as php-pecl-memprof extension was not found``

I'm on Debian 7 and Debian 8.
Do you know which package to install to have php-pecl-memprof installed ?

The aim is to activate
``define('LOG_MEMORY_PROFILER', true);``

[2015-08-10 21:21] polytan02 opened #221 "WARN comments for timezone"
I have these kind of ocmments when I connect my devices :

``10/08/2015 20:08:44 [31338] [INFO] [user-hidden] Version='SVN-trunk-r1975' method='POST' from='ipv4-hidden' cmd='Sync' getUser='domain-hidden\user-hidden' devId='devid-hidden' devType='PlayBook'
10/08/2015 20:08:45 [31338] [INFO] [user-hidden] ExportChangesDiff->InitializeExporter(): Found 1 changes
10/08/2015 20:08:45 [31338] [WARN] [us

[2015-08-10 21:53] norm2k commented on #220
pecl -d preferred_state=beta install memprof
that should get you what you need.

[2015-08-10 22:28] polytan02 commented on #220
Thanks.

On my Debian, I had to do this :

``apt-get install php5-dev libjudy-dev``

``pecl -d preferred_state=beta install memprof``

Then add at the end of /etc/php5/fpm/php.ini

``extension=memprof.so``

And change the parameter in z-push/config.ini

In any case, what is the interest of the option ?

[2015-08-11 05:36] fmbiete commented on #221
They are not critical, but I should fix it.

Can you post the calendar DAV that is causing it? I need the timezone so I can figure why is not encoded correctly.

Thanks!!

[2015-08-11 05:41] fmbiete commented on #220
Enabling that option will dump a memory profiling after execution.
It can help us to find memory leaks so we can use php-fpm without restarting the process after a number of executions.

That's a hard task, so if anyone is willing to help, he's very welcomed!! :laughing:

[2015-08-11 06:04] mta59066 opened #222 "WBXMLDecoder::readRemainingData() is missing"
lib/request/requestprocessor.php uses readRemainingData() method under WBXMLDecoder, but that doesn't seem to exist there.

It looks like this method is available in the upstream Z-Push distribution though.

http://svn.zpush.net/diff.php?repname=Z-Push&path=%2Ftrunk%2Fsrc%2Flib%2Fwbxml%2Fwbxmldecoder.php&rev=1948

Thanks

--
Mehmet

[2015-08-11 07:00] polytan02 commented on #220
I don't have any issue to help...as long as I understand what to d and how to do it :d

Currently I don't. Would you know what and how to do it ?

[2015-08-11 07:01] polytan02 commented on #221
The calcard dav server is Baikal.

The timezone on the server is setup at Europe/London.

Do you need any further info?

[2015-08-14 15:50] fmbiete commented on #222
Indeed, the method is missing. Merged back from upstream.

Thanks!!

[2015-08-14 15:50] #222 closed

[2015-08-14 15:56] polytan02 opened #223 "Version 2.2 of Z-push released"
I notice in the svn of z-push http://svn.zpush.net/listing.php?repname=Z-Push&path=%2Frelease%2F2.2%2F&#ae325ee280b06e203e18909973f897263 that version 2.2 is released (version 1981).

This depot is at an lower reference, does it means we are missing a few features / bug correction ?

[2015-08-14 15:57] fmbiete commented on #220
That only should be used when you think that your installation is leaking memory.
The steps should be like this:

1. Enable the config.php parameter
2. Run your server as normal
3. After each php process ends you will have a file ending with a number (process id). Locate the one that interest you.
4. Open it with KCachegrind (http://kcachegrind.sourceforge.net/html/Home.html)
5. You will see a lot

[2015-08-14 15:59] fmbiete commented on #221
Yes, I need the text/calendar part from your message (or the text represantion for your dav object).
Something like this:

[code]

[2015-08-14 16:06] fmbiete commented on #223
Yes, it means that.

I have updated the repo, but svn.zpush.net is obsolete. As of today it doesn't contains the last upstream version; we will soon have a new URL to share.

[2015-08-14 16:06] #223 closed

[2015-08-14 16:40] polytan02 commented on #221
So, I have done another test :

14/08/2015 17:34:23 [11060] [INFO] [user1] ExportChangesDiff->InitializeExporter(): Found 1 changes
14/08/2015 17:34:23 [11060] [WARN] [user1] /var/www/z-push/lib/utils/timezoneutil.php:1115 Undefined index: Europe/Dublin (8)
14/08/2015 17:34:23 [11060] [WARN] [user1] TimezoneUtil::getMSTZnameFromTZName() no MS name found for 'Europe/Dublin'. Returning '(GMT) Greenw

[2015-08-14 16:42] polytan02 commented on #220
Ok, this is way beyond what I can do.

Many thanks for the explainations and support :)

[2015-08-14 16:42] #220 closed

[2015-08-14 18:50] polytan02 opened #224 "Email could not be saved.....at first"
``BackendIMAP->saveSentMessage(): The email could not be saved to Sent Items folder. Check your configuration.``

This is the issue I ran into.

The thing is, I believe that I filed backend/imap/config.php correctly as after a little while (around 10 to 20 minutes ?) without changing the configuration the issue vanishes and I can then have the sent emails stored in the 'Sent' folder.

Would you kn

[2015-08-16 13:33] fmbiete commented on #221
The referenced commit should fix the problem for Blackberry devices.
Let me know if it works. Thanks!!

[2015-08-16 13:36] fmbiete commented on #224
Can you post the complete log of a process where the sent message cannot be saved?
I would think that there is an IMAP problem, and maybe the log is telling you more info in the logoff function.

[2015-08-16 18:37] polytan02 commented on #221
Hi pulled the updated files and installed the update I still have the bug (apparently).
Also, a second one apparead, not sure if I have to open a dedicated thread, please let me know.

I'm definitely keen on helping to sort out this issue and have a working meeting/caldav backend working.

To run the tests, I have 3 servers (different ones but all running the same config based on debian 7 or 8, wi

[2015-08-16 18:42] polytan02 commented on #224
It is a very strange bug. I think it only happens when the devices are been synchronised for the first time as it doesn't happen after a little while.

I suppose it is the time needed for z-push to build a database with the messages or something like this ? Maybe these emails could be stored to be saved later ?

[2015-08-16 18:57] polytan02 commented on #221
On my BB Passport, the answer I receive from the Playbooks states that "This is an aswer to a meeting request which doesn't contain all the details of the meeting".

Original meeting request :
BEGIN:VCALENDAR
PRODID:-//Research In Motion//RIM App//EN
VERSION:2.0
CALSCALE:GREGORIAN
METHOD:REQUEST
BEGIN:VTIMEZONE
TZID:Europe/London
BEGIN:STANDARD
DTSTART:20121028T020000
RRULE:FREQ=YEARLY;BYDAY=4SU;B

[2015-08-17 18:41] redhell opened #225 "Regression - Can't map users"
Hi,

im using the latest master from git.
I want to map a user@mail.com to user. Referring to the documentation

z-push-admin.php -a map -u user@mail.com -b BackendCardDAV -t user

should make it but i get following error:

ERROR: Wrong 'type'. Possible values are: 'email', 'calendar', 'contact', 'task', 'note' or a 44 byte long folder id (as hex).

[2015-08-18 13:07] tickerguy opened #226 "Windows 10 Calendar/Email does not interoperate"
Windows 10 includes an EAS client for Email, contacts and calendars.

However, while it appears to add correctly to Z-push, nothing actually syncs.  There is no error shown, however, in the logs and a status CLAIMS everything is ok...

-----------------------------------------------------
DeviceId:               ***************************
Device type:            WindowsMail
UserAgent:

[2015-08-18 15:28] tickerguy commented on #226
On first blush I do not see an obvious problem in the XML logs against a test user..... unfortunately.

[2015-08-18 16:19] polytan02 commented on #226
Just to be clear, what do you mean by "does not operate" ?

I'm just asking as on my side I can sencd emails from the win10 mail client connected via z-push. I can also send calendar invit.

At this stage the issues I have with it are :
* Charset issue : emails are all "disgusting" a soon as you use letters out of basic ascii
* I cannot see calendar invitations coming through, even if they are in

[2015-08-18 16:37] tickerguy commented on #226
I added the account and it does not sync at all; nothing comes up, even though there are emails in the inbox.  I also cannot add any calendar events (the button doesn't work)

[2015-08-19 04:21] tickerguy commented on #226
This looks very much like a client problem and there are some other reports of trouble around the 'net.  I have looked at the WBXML for a newly-configured account with one message in the INBOX and the provisioning goes, and then the message is in fact retrieved -- but it never appears in the client.

Going to close this for now as it doesn't appear to be a Z-Push problem, but rather something Micr

[2015-08-19 04:21] #226 closed

[2015-08-19 14:05] mikhail-guru commented on #224
The same for me. iOS 8.4.

[2015-08-21 15:02] fmbiete commented on #221
Hi @polytan02 ,

Can you send me your log files for both issues? fbiete at gmail dot com

[2015-08-21 15:16] fmbiete commented on #225
Hi @redhell

The referenced commit should do the trick. Could you confirm it?

Thanks!!

[2015-08-21 15:19] fmbiete commented on #224
Logs, please!
Or better yet, can you check using the docker images in the docker folder?

[2015-08-21 15:21] mikhail-guru commented on #224
Docker can't. For logs please give instructions how to enable logs, I don't see it in readme/wiki.

[2015-08-21 18:45] fmbiete commented on #224
In the main config.php you need to set the variables to this:

[code]

[2015-08-21 18:46] polytan02 commented on #221
Do you want the full log with th debug option or just the normal one ?

[2015-08-21 18:47] fmbiete commented on #221
WBXML level will be more useful

[2015-08-21 18:47] polytan02 commented on #224
Again, after a little while the bug stops so difficult to replicate.

Would there be some sort of database been created for the first ever use of z-push ?

[2015-08-21 18:49] fmbiete commented on #224
No. The state files/record are only used for the received messages, not the sent. Every send operation should be equal in conditions.

[2015-08-21 18:50] polytan02 commented on #221
I will do my best this weekend to get t logs for you.

Don't you and the issue one your side ?

[2015-08-21 18:52] polytan02 commented on #224
I'll do my best to get some logs for this issue this weekend.

[2015-08-21 18:52] fmbiete commented on #221
No. The problem with this issue is the timezone. Blackberry uses PHP timezones (Europe/Berlin), but Android, Outlook, Thunderbird and Roundcube use the timezones that z-push are expecting (Romance Standard Time).

[2015-08-21 18:53] fmbiete commented on #224
Thanks!!!

[2015-08-21 19:01] mikhail-guru commented on #224
@fmbiete I've sent a log file to your email. For me, I see only one important line:
BackendIMAP->getFolderIdFromImapId('SENT') = not found

[2015-08-21 19:21] mikhail-guru commented on #224
I've found the problem. In backend/imap/config.php:

// Sent folder name (case doesn't matter)
define('IMAP_FOLDER_SENT', 'SENT');

It is not true. Case is matter. Should be:
define('IMAP_FOLDER_SENT', 'Sent');

I think it just somewhere forgotten to make the string case-insensitive.

[2015-08-22 16:47] fmbiete commented on #224
Indeed, that's a bug. The referenced commit should fix it, but you will need to do a full resync. Thanks @mikhail-guru !!

@polytan02 Can you check if you have the same problem?

[2015-08-22 18:32] #218 closed

[2015-08-23 13:50] mikhail-guru commented on #224
Nothing changes.

[2015-08-23 18:57] polytan02 commented on #221
Logs sent via email

[2015-08-23 21:56] polytan02 commented on #224
So, I did another test :
- New installation of my server
- installation of z-push
- emails sent from my phone ==> "emails cannot be saved"
- If then I send an email from a webmail on my server ==> It works, but I'm not using z-push

==> After that, it seems that I can have access to more folder from my phone using z-push and so I can save emails.

Would it be simplier to leave the folder blanks in

[2015-08-24 19:18] mikhail-guru commented on #224
Now it is not working even after replacement SENT to Sent.

[2015-08-25 04:18] fmbiete commented on #224
@mikhail-guru can you look at your logs? Search for a IMAP Logoff message for every process (or end messages). A possibility should be your php process being terminated before they can save the folder ids info to storage.

Your php max_execution_time must be at least 600 seconds.

[2015-08-25 07:11] mikhail-guru commented on #224
25/08/2015 09:09:23 [31092] [ WARN] [mikhail@emelchenkov.pro] BackendIMAP->getFolderIdFromImapId('SENT') = not initialized!
25/08/2015 09:09:23 [31092] [ERROR] [mikhail@emelchenkov.pro] BackendIMAP->saveSentMessage(): The email could not be saved to Sent Items folder. Check your configuration.

[2015-08-25 07:13] mikhail-guru commented on #224
I've saved a log of Sending process and will mail you if you need it.

[2015-08-25 10:02] polytan02 commented on #224
Hi,

Thanks @fmbiete to help me sort out this issue. (external emails sent to exchange big raw logs via emails).

I sorted out my issue by modifiying my /etc/php5/fpm/poold.z-push dedicated php-fpm process as such :

; Start a new pool named 'www'.
; the variable $pool can we used in any directive and will be replaced by the
; pool name ('www' here)
[z-push]
listen = /var/run/php5-fpm-z-push.sock

[2015-08-26 21:47] polytan02 commented on #221
@fmbiete Have you been able to look at the logs to see why we the answer to a meeting is not recognised on BlackBerry ?

[2015-08-29 13:35] fmbiete commented on #224
@mikhail-guru Have you checked if the Logoff debug line appears always?

The problem seems to be the process being terminated before it saves the states, so the SendMail execution won't have the Sent folder stored yet.

[2015-09-02 10:43] MykeulGit commented on #184
Hello,

I installed r1981 yesterday and give it a try, let's see in 1 or 2 weeks.
It reminds me how much your software is useful when it works !

Regards

[2015-09-03 05:42] MykeulGit commented on #184
Hello,

For the UTF8 subject field, it is way better but not fully finished, for example yesterday (r1981) I received a mail with this subject :
`Embauche d'un salarié statut étudiant`
I then replied and the original sender received :
`Re: Embauche d'un salariÃ© statut Ã©tudiant`

Regards

[2015-09-03 12:20] dominicpratt commented on #224
Same problem over here, foldername is written correctly (case-sensitive):

StatusException: SyncCollections->CheckForChanges(): Timeout forced after 29s from 900s due to other process - code: 3 - file: /var/www/z-push/lib/core/synccollections.php:488
[...]
03/09/2015 14:19:04 [11848] [WARN] [hallo@example.com] BackendIMAP->getFolderIdFromImapId('Gesendet') = not initialized!
03/09/2015 14:19:04 [1

[2015-09-03 15:52] fmbiete commented on #224
@dominicpratt put your log level to WBXML and check for the Logoff line. As I have said the executions have to terminate correctly, so we all need to configure php correctly.

BTW: I will be away this month, so if I don't answer I will do it in october.

[2015-09-03 15:54] fmbiete commented on #184
I will be away for the whole month, but after coming back I will look into the encoding subject issue.

[2015-09-07 08:40] mikhail-guru commented on #224
@fmbiete I have sent you log to email.

[2015-09-07 17:54] anluka opened #227 "Carddav backend Owncloud"
Hi,
Thank you for the great utility.
I managed to configure z-push to work with my owncloud server.
It is working with owncloud local accounts.
Recently I added LDAP backend and now I am unable to run z-push any more.
Caldav backend is working great, but Carddav fails with the error in the browser:

Woops, something's gone wrong! The CardDAV server returned the http status code 405.

Trace:
Array

[2015-09-15 12:45] vgeannin opened #228 "can't synchonize cal dav entries with my phone"
Hi all,

I'm trying to configure the caldav backend with Oracle Communication Suite caldav server.
I can create a new entry from my device to the caldav server but I can't synchronise the event that are present in the caldav server to my device (when I create the entry from my device, it'll disappear after the synchronization).
My server is a centos 6.7,with php 5.3.3
testing-caldav.php give me th

[2015-09-15 13:45] vgeannin commented on #228
below the z-push log :
15/09/2015 15:42:32 [20169] [DEBUG] [mgean] -------- Start
15/09/2015 15:42:32 [20169] [ INFO] [mgean] Version='SVN-trunk-r1981' method='POST' from='2.12.49.185' cmd='FolderSync' getUser='mgean' devId='kesui6t2e97kt148e4m44phha4' devType='iPhone'
15/09/2015 15:42:32 [20169] [DEBUG] [mgean] Used timezone 'Europe/Paris'
15/09/2015 15:42:32 [20169] [DEBUG] [mgean] Including bac

[2015-09-16 10:50] ramcq opened #229 "broken preview for HTML messages on iOS"
I'm using Z-Push-contrib up to date with 49bc9a3 and have just added a new user with an iPhone. He's told me that HTML messages are previewing incorrectly - as the screenshot shows, the HTML source is provided as a preview, rather than the text/plain part.

![img_0001](https://cloud.githubusercontent.com/assets/254468/9902747/b3a0096a-5c68-11e5-8676-811d02ead780.JPG)

An example message source (th

[2015-09-16 15:09] FrankvdAa opened #230 "Forwarding issues with Samsung Galaxy S6"
When forwarding emails with the native email app on my Samsung Galaxy S6, the body gets messed up.

This only seems to happen when forwarding, not when sending a new email

I first send the following text to myself:

"This body is working fine.

Frank"

This is being displayed fine with Thunderbird and on my SGS6, but when I forward this email again to myself I get the following in Thunderbird:

"

[2015-09-16 15:11] FrankvdAa commented on #230
I'm currently using SVN-trunk-r1981, but I also have this same problem with SVN-trunk-r1788.

I wasn't experiencing this with my previous phone; SGS3. Also tested with SGS4 Mini without any problems.

[2015-09-21 15:06] vgeannin commented on #228
Ok I find the error, the caldav server only allow the 10 year of synchronization
and the caldav backend want to synchronize more than 23 year.
can you add a parameter in the conf file to set the finish time instead of use the hardcode value "2147483647"

Vincent

[2015-09-22 09:57] FrankvdAa opened #232 "Saving to sent folder returning 'BackendIMAP->getFolderIdFromImapId('Verzonden items') = not initialized!'"
I've configured the IMAP backend to use 'Verzonden items' as the sent folder, but it won't save sent messages as it tells me it has not been initialized.

backend/imap/config.php:
define('IMAP_FOLDER_SENT', 'Verzonden items');

Logging:
[32233] [DEBUG] [fvdaa] BackendIMAP->saveSentMessage(): saving message in Sent Items folder
[32233] [ WARN] [fvdaa] BackendIMAP->getFolderIdFromImapId('Verzonden i

[2015-09-22 09:58] FrankvdAa commented on #232
Sorry, just noticed that this is a duplicate of #224.

[2015-09-22 09:58] #232 closed

[2015-09-22 10:02] FrankvdAa commented on #224
If I can be of any help debugging this problem, please let me know!

[2015-09-23 07:07] benbeton commented on #190
just a quick question. Today I cloned the whole repo to a fresh install.
Had trouble with mime decode and found out that this fix is not included, did I miss someting?
after applying the fix, all works fine!

[2015-09-24 10:27] Diamond2 opened #233 "CALDAV username & password"
Hi,

Thanks for nice Z-Push,
I would like to request a feature.
I have problem with shared calendar from caldav server. It uses different username+password from the current user. Can I have a config section of caldav to have a username, password config that I can login to caldav server.

How can I modify the caldav.php to have it?
    public function Logon($username, $domain, $password) {

[2015-09-27 13:39] fmbiete commented on #227
You can use testing/testing-carddav.php to check and debug the problem. It seems the response of your server is not the waited.

[2015-09-27 13:51] fmbiete commented on #229
Referenced commit should fix the problem. Thanks!!!!

[2015-09-27 13:57] fmbiete commented on #230
I have found that problem before with Samsung devices; the mail client they use is very buggy and won't forward messages correctly. You should put your log in WBXML level and post a forward operation so we can see what's wrong.

[2015-09-27 14:05] fmbiete commented on #228
Hi @vgeannin
That should do the trick.
Thanks!!

[2015-09-27 14:05] #228 closed

[2015-09-27 14:07] fmbiete commented on #190
@benbeton can you paste your changes??

[2015-09-27 14:10] fmbiete commented on #233
If I understand correctly you want to transform your credentials into anothers. So if your user is
usernameA you want it to be usernameB for CalDAV.
Take a look at the mapping option in z-push-admin.php I think it does what you need.

[2015-09-27 16:01] anluka commented on #227
Thank you for replying.
The quoted log fragment was captured after running testing-carddav.php.
The server is working fine with Carddav-sync on Android...

[2015-09-27 16:10] benbeton commented on #190
i did't do any changes, just cloned the whole dir to a fresh install.
this fix https://github.com/fmbiete/Z-Push-contrib/commit/07287905ddfdb1e2cd6e232369675b0f1615f4ed was not included, could that be possible?

[2015-09-27 21:03] chinenual commented on #229
Fixes the problem for me!  Thanks.

[2015-09-29 22:25] sirvulcan opened #234 "iPhone meeting requests show as ICS attachments"
When I receive a meeting request on my iPhone it shows up as an ICS attachment. I can then go into the attachment and accept it. I am not sure if this is intentional or not. On Outlook and on Android the meeting requests show up in the initial email.

My iPhone is currently running iOS 8.3. Let me know if you need any further details.

![img_0413](https://cloud.githubusercontent.com/assets/1088408

[2015-09-29 22:45] chinenual opened #235 "IMAPBackend: recurring notification of new mail for same mail item"
Using latest - 80cbe53de4ab8dd598d1f2af6f0a23fa396c529a
Previously had been using 80f3ed550ad2c8eacb18a5bbb6b18d01e2e8a606

iOS 9.0

Since updating zpush to 80cbe53de, I'm noticing that unread emails are causing recurring notifications.  Instead of getting a popup notification once, I seem to get a notification for the same item every 10 or 15 minutes.

I've also noticed that when I manually "chec

[2015-10-03 15:20] fmbiete commented on #227
Uncomment and add where needed those lines, they will show the raw response from your dav server and we will see why the XML in the response is not the waited:
[code]

[2015-10-03 15:29] fmbiete commented on #190
@benbeton That commit is applied.
The only difference I see is instead of returning 500 chars of the original message we are returning only the headers (imap.php file).
Are you saying that returning only the mime headers for a smime encrypted message doesn't work?

[2015-10-03 15:30] fmbiete commented on #229
Fixed then, thanks!!!

[2015-10-03 15:33] fmbiete commented on #234
Yes, it's intended. Or rather a consequence of iPhone requesting the original MIME messages. They don't request the prepared event but the original message where the event is an attached file.

Could you test the behaviour against a real Exchange server? Maybe it's different....

[2015-10-03 15:54] fmbiete commented on #235
Can you make this changes in lib/core/synccollection.php and test?

[code]